<div class=" max-w-screen-2xl mx-auto h-screen">
    <div class="grid md:grid-cols-2 grid-col-1">
      <div class=" sticky top-0 hidden md:block sideOne h-screen">
        <div class="flex h-screen overflow-y-hidden flex-col justify-between ">
          <img class=" " src="assets/images/auth/auth-bg.png" class=" w-fit cursor-pointer" alt="" routerLink="/">
          <div class="w-max max-w-full mb-5">
            <h6 class="font-bold font font- font-monteserrat text-[24px] lg:text-[28px] leading-8 lg:leading-10 text-white">Streamline your path to health.</h6>
            <p class="text-sm lg:text-base font-normal font-sans leading-5 text-white">This platform provides you with online medical services for convinience and faster response.</p>
           
          </div>
          
        </div>
      </div>
      <div class="  w-full  bg-white">
        <router-outlet></router-outlet>
  
      </div>
    </div>
   
  
  
  </div>
  
  
  