<div class="relative max-w-screen-2xl mx-auto h-screen">
  <div class="grid md:grid-cols-2 grid-col-1">
    <div class="sticky top-0 hidden md:block sideOne h-screen">
      <div class="flex h-screen overflow-y-hidden flex-col justify-between">
        <div class="absolute top-0 left-0 w-full h-full bg-cover bg-center bg-auth items-center align-middle">
          <div class="flex justify-center mx-40 my-28">
            <div class="items-center align-middle">
              <img src="assets/images/main/vac-logo-transparent.png" routerLink="/" alt="VAC_logo" class="text-center mx-auto ">
              <h1 class="font-poppins text-2xl font-bold text-white text-center mt-10">Secure Verification & Authentication of Certificates.</h1>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="w-full bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
