
<nav class="bg-primaryBlue md:block hidden">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 pb-4">
    <div className="flex items-center">
     
      <ul class="flex flex-row  md:p-0 mt-4  border md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
        <li tabindex="0" class=" flex items-center justify-between"
        *ngFor="let link of menuLinks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        #rla="routerLinkActive"
        [ngClass]="
          rla.isActive
            ? 'bg-[#4086EF] rounded-xl py-2 px-4  text-white font-medium text-base font-inter'
            : 'font-medium text-base text-[#EBF3FF] px-4 py-2'
        "
        [ngClass]="link.show ? 'block  ' : 'hidden '">
        
          <div class="flex items-center gap-2" (click)="goToPath(link.path, link.hasChild)" >
            <a [ngClass]="
            rla.isActive
              ? ' text-white '
              : ' text-[#EBF3FF] '
          " [routerLink]="link?.path">{{ link?.title }} </a>
            <div class="relative cursor-pointer" *ngIf="link?.hasChild === true">
              <div class="dropdown dropdown-bottom dropdown-end">
                <svg tabindex="0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 7.5L10 12.5L15 7.5" stroke="#BDD5FA" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                <ul
                  tabindex="0"
                  class="main mt-3 dropdown-content menu p-2 shadow bg-primaryBlue md:z-50 w-52"
                >
                  <li *ngFor="let item of link?.childRoute">
                    <a class="text-white" [routerLink]="item?.route">{{ item.name }}</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
      </li>
        
      </ul>
    </div>
  </div>
</nav>
