<aside class="p-6 bg-darkBlue min-h-screen flex flex-col justify-between  ">
    <div>
      <img class=" " src="assets/images/main/logo_white.png" class=" w-fit pt-6" alt="">
   
      <div class=" ">
        <div class="pb-4" *ngFor="let link of menuLinks" (click)="goToPath(link.path)" routerLinkActive="active"
          #rla="routerLinkActive" routerLink={{link.path}}
          [ngClass]="rla.isActive ? 'bg-white rounded-md py-3 px-2  text-bg-primaryBlue font-semibold text-lg font-sans' : 'font-bold text-lg text-grayscale py-3 px-2'">
          <div class=" flex items-center cursor-pointer"><span><img [src]='rla.isActive ? link.active : link.inactive'
                alt="" class="mr-3"></span> {{link.title}}</div>
        </div>
      </div>
    </div>
  
    <!-- <div class="mt-5 border-t-[1.5px] pt-5">
      <div class="" *ngFor="let link of secondaryLinks" routerLinkActive="active" (click)="logout(link.path)"
        [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive" 
        [ngClass]="rla.isActive ? 'bg-white rounded-md py-3 px-2 text-bg-primaryBlue font-semibold text-lg font-sans' : 'font-bold text-lg text-grayscale py-3 px-2'">
        <div class=" flex items-center cursor-pointer"><span><img [src]='rla.isActive ? link.active : link.inactive'
              alt="" class="mr-3"></span> {{link.title}}</div>
      </div>
    </div> -->
  
  
  
  
  </aside>
  