<div class="md:px-8  px-0 py-6 bg-white ">
    <div [routerLink]="'/institution/configuration'" class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img  src="assets/images/icons/home.svg">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Settings
            </p>

        </div>

    </div>

    <div class="md:px-5 px-0">
        <div class="items-center my-2">
            <h4 class="font-medium font-poppins text-4xl  text-headerGray my-3">
                Settings
            </h4>
        </div>
    </div>
    <div class="flex gap-6 md:gap-10 pt-3 border-b border-solid border-[#E0E3EA] border-t-0 border-r-0 border-l-0">
        <div routerLink="/institution/users-and-roles" #rlaMember="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
            My profile
        </div>

        <div routerLink="/institution/users-and-roles/change-password" #rlaRoles="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
            Change Password
        </div>
        <div routerLink="/institution//users-and-roles/users" #rlaRoles="routerLinkActive" *ngIf="permissionList?.includes('INSTITUTION_USERS_AND_ROLES')"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px]"
            routerLinkActive="activeLink">
            Users
        </div>
        <div routerLink="/institution/users-and-roles/roles-and-permission" #rlaRoles="routerLinkActive" *ngIf="permissionList?.includes('INSTITUTION_USERS_AND_ROLES')"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px]"
            routerLinkActive="activeLink">
            Roles and Permissions
        </div>
        <div routerLink="/institution/users-and-roles/2fa" #rlaRoles="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px]"
            routerLinkActive="activeLink">
            Two Factor Authentication
        </div>
    </div>

    <div class="mt-6">
        <router-outlet></router-outlet>
    </div>
</div>