<div class="bg-white w-full h-screen  flex justify-center items-center">
    <div class="w-fill md:w-3/5 mx-auto ">
      <h4 class="font-semibold font-poppins text-3xl pb-3 text-darkGray">Create your password</h4>
      <p class="font-nunito font-normal text-base text-ligthGray mb-8">Create new password for your account</p>
      <form [formGroup]="createAccountForm" class="w-full">
        <div class="mb-5">
          <label for="password" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Password <span
              class="text-danger">*</span></label>
          <app-password [formGrp]="createAccountForm" formCtrlName="password" [type]="'password'" [class]="
                  'px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                " placeholder="***" [name]="'Email'"></app-password>
        </div>
        <div class="mb-5">
          <label for="password" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Confirm Password <span
              class="text-danger">*</span></label>
          <app-password [formGrp]="createAccountForm" formCtrlName="confirmPassword" [type]="'password'" [class]="
                  'px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                " placeholder="***********" [name]="'Password'"></app-password>
        </div>
       
        
        <div class="mb-6">
          <app-button
              [disabled]="createAccountForm.invalid"
              (buttonClick)="createPassword()"
              [overRideButtonClass]="true"
              customClass="w-40 h-12 rounded-lg font-inter font-medium text-base text-white leading-6 bg-primaryBlue"
              >Create Password</app-button
            >
        </div>
        <div class="mb-8">
            <div class=" mt-14">
                <p class="font-sans font-bold text-sm leading-4 text-[#120309] pb-5">Password strenght</p>
                <p [ngClass]="lenghtChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center  text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                  Must be minimum of 8 - 16 characters</p>
                <p [ngClass]="uppercaseChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                      Contains at least one uppercase letter (A)</p>
                <p [ngClass]="lowercaseChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                  Contains at least one lowercase letter (a)</p>
                <p [ngClass]="numberChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                  It should contain numbers (123)</p>
                <p [ngClass]="specialCharacterChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                  It should contain special characters (!@#)
                </p>
                <p [ngClass]="nospaceChecked ? ' text-danger': 'text-darkGray'"
                  class="flex items-center text-sm font-normal font-sans leading-4 pb-3 ">
                  <app-check-mark [color]="uppercaseChecked ? ' text-danger': 'text-darkGray'"></app-check-mark>
                  No space allow</p>
              </div>
        </div>
      </form>
    </div>
  </div>
  