<div class="bg-[#F9FAFB] py-16">
  <div class="container mx-auto text-center">
    <h2 class="font-inter font-semibold text-base text-[#1368EC] mb-3">Basic Steps</h2>
    <h3 class="font-poppins text-3xl text-headerGray font-semibold mb-8">How it Works</h3>

    <div class="flex justify-center items-center space-x-16 mb-16">
      <div>
        <div class="flex items-center justify-center">
          <div class="bg-[#EBF3FF] border border-buttonBlue w-8 h-8 p-3 rounded-full shadow-md">
            
          </div>
          <img src="assets/images/icons/tick.svg" class="absolute" alt="Sign Up" />
        </div>
        <div>
          <p class="mt-4">Sign Up</p>
          <p class="">Setting up your account is easy. Access to your user friendly portal is seamless.</p>
        </div>
      </div>
      <hr class="w-16 h-0.5 bg-buttonBlue self-center mx-4">
      <div>
        <div class="flex items-center justify-center">
          <div class="bg-[#EBF3FF] border border-buttonBlue w-8 h-8 p-3 rounded-full shadow-md">
            
          </div>
          <img src="assets/images/icons/tick.svg" class="absolute" alt="Select a Request" />
        </div>
        <p class="mt-4">Select a Request</p>
        <p class="">Fill in the details and a consent form if needed, then pay service fee.</p>
      </div>
      <hr class="w-16 h-0.5 bg-buttonBlue self-center mx-4">
      <div>
        <div class="flex items-center justify-center">
          <div class="bg-[#EBF3FF] border border-buttonBlue w-8 h-8 p-3 rounded-full shadow-md">
            
          </div>
          <img src="assets/images/icons/tick.svg" class="absolute" alt="Receive your Result" />
        </div>
        <p class="mt-4">Receive your Result</p>
        <p class="">We process your request and share outcome 72 hours after confirmation.</p>
      </div>
    </div>


    <div class="space-x-6">
      <app-button
      [overRideButtonClass]="true"
      [customClass]="'border bg-white text-failedNormal font-inter font-medium text-lg p-2 rounded-md'">
        Learn More
      </app-button>
      <app-button
      [overRideButtonClass]="true"
      [customClass]="'bg-buttonBlue text-white font-inter font-medium text-lg p-2 rounded-md'">
        Get Started
      </app-button>
  </div>
</div>
