<div class="bg-white p-6">
    <div [routerLink]="'/institution/settings'" class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img  src="assets/images/icons/home.svg">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Settings
            </p>

        </div>

    </div>

    <!-- <div class="px-5">
        <div class="flex justify-between items-center my-2">
            <h4 class="font-medium font-poppins text-4xl  text-headerGray my-3">
                Profile
            </h4>
            <div class="flex flex-col items-center h-auto">
                <div class="radial-progress text-[#18BB0C]" style="--size: 4rem; --value: 70; --thickness: 4px">
                    70%
                </div>
                <p class="font-sans font-norma text-xs text-primaryDark pt-2">
                    Profile Completion
                </p>
            </div>
        </div>
    </div> -->
    <div class="overflow-x-auto hide-scrollbar">
        <div class="flex gap-6 md:gap-10 pt-3 border-b border-solid border-[#E0E3EA] border-t-0 border-r-0 border-l-0">
            <div routerLink="/graduate/settings" #rlaMember="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                My Profile
            </div>
            <div routerLink="/graduate/settings/my-institution" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                My institution
            </div>
            <div routerLink="/graduate/settings/my-hub" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                My Hub
            </div>
            <div routerLink="/graduate/settings/change-password" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                Change Password
            </div>
            <div routerLink="/graduate/settings/2fa" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                Two Factor Authentication
            </div>
        </div>
    </div>
    

    <div class="mt-6">
        <router-outlet></router-outlet>
    </div>
</div>