<div class="bg-[#F9FAFB] py-16">
  <div class="container mx-auto text-center px-4 sm:px-6">
    <h2 class="font-inter font-semibold text-base text-[#1368EC] mb-3">Basic Steps</h2>
    <h3 class="font-poppins text-3xl text-headerGray font-semibold mb-8">How it Works</h3>

    <div class="flex justify-center">
      <img src="assets/images/icons/stepper.svg" alt="stepper">
    </div>
    <div class="mx-auto flex flex-col md:flex-row justify-center items-center space-y-8 md:space-y-0 md:space-x-8 mb-16 max-w-5xl">
      <div>
        <div>
          <p class="mt-4 font-inter font-medium text-base text-failedNormal mb-2">Sign Up</p>
          <p class="font-inter font-normal text-base text-lightGray w-full md:w-80">Setting up your account is easy on our user-friendly portal.</p>
        </div>
      </div>
      <div>
        <p class="mt-4 font-inter font-medium text-base text-failedNormal mb-2">Select a Request</p>
        <p class="font-inter font-normal text-base text-lightGray w-full md:w-80">Fill in the required information, 
          submit application and make payment.</p>
      </div>
      <div>
        <p class="mt-4 font-inter font-medium text-base text-failedNormal mb-2">Receive your Result</p>
        <p class="font-inter font-normal text-base text-lightGray w-full md:w-80">Fill in the required information, 
          submit application and make payment.</p>
      </div>
    </div>

    <div class="md:w-9/12 w-full mx-auto">
      <button (click)="openVideo()"
    class="w-full relative flex justify-center items-center focus:outline-none focus-visible:ring focus-visible:ring-indigo-300 rounded-3xl group"
    aria-controls="modal"
    aria-label="Watch the video"
>
    <img class="rounded-3xl shadow-2xl transition-shadow duration-300 ease-in-out" src="assets/images/explainer.jpg" width="768" height="432" alt="Modal video thumbnail" />
    <!-- Play icon -->
    <svg class="absolute pointer-events-none group-hover:scale-110 transition-transform duration-300 ease-in-out" xmlns="http://www.w3.org/2000/svg" width="72" height="72">
        <circle class="fill-black" cx="36" cy="36" r="36" fill-opacity=".8" />
        <path class="fill-indigo-500 drop-shadow-2xl" d="M44 36a.999.999 0 0 0-.427-.82l-10-7A1 1 0 0 0 32 29V43a.999.999 0 0 0 1.573.82l10-7A.995.995 0 0 0 44 36V36c0 .001 0 .001 0 0Z" />
    </svg>
      </button>
      <!-- The button to open modal -->

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box max-w-5xl md:w-3/4 bg-white relative" for="">
    <label for="my-modal-4" class="btn text-white !bg-black btn-sm btn-circle absolute right-2 top-2 mb-3">✕</label>

    <div class=" w-full  h-full flex items-center mt-4">
      <iframe src="https://drive.google.com/file/d/17WnU7ceZMAhrjPYLESsZSoykd1lYiz_D/preview" width="100%" height="480" allow="autoplay"></iframe>
      <!-- <video  loop controls>
          <source src="https://drive.google.com/file/d/17WnU7ceZMAhrjPYLESsZSoykd1lYiz_D/view" type="video/mp4" />
          Your browser does not support the video tag.
      </video> -->
      <!-- <div class="w-full max-h-full rounded-3xl shadow-2xl aspect-video bg-black overflow-hidden">
      </div> -->
  </div>
  </label>
</label>
    </div>

    <div class="space-x-6">
      <!-- <app-button
      [overRideButtonClass]="true"
      [customClass]="'border bg-white text-failedNormal font-inter font-medium text-lg p-2 rounded-md'">
        Learn More
      </app-button>
      <app-button
      (buttonClick)="openLogin()"
      [overRideButtonClass]="true"
      [customClass]="'bg-buttonBlue text-white font-inter font-medium text-lg p-2 rounded-md'">
        Get Started
      </app-button> -->
    </div>
  </div>
</div>