<div *ngIf="organizationRequest$ | async as request">
  <div class="flex items-center md:gap-4 gap-2 p-6">
    <div>
      <img [routerLink]="'/main/requests'" src="assets/images/icons/home.svg" />
    </div>
    <div>
      <img src="assets/images/icons/forward_arrow.svg" />
    </div>
  
    <div>
      <p
        class="text-[#0D47A1] font-inter md:text-base text-sm font-medium cursor-pointer"
      >
        Organization Requests
      </p>
    </div>
  </div>
  <div class="bg-white py-6 px-8">
    <div class="px-5">
      <div class="items-center my-2">
        <h4 class="font-medium font-poppins text-4xl text-[#101828] my-3">
          Organization Requests
        </h4>
        <p
          class="text-[#667085] font-nunito text-base font-normal cursor-pointer"
        >
          Requests from Organization can be managed here.
        </p>
      </div>
    </div>
    <div class="w-full rounded-xl shadow-sm p-6 border-none bg-[#F5F9FF]">
      <div>
        <div
          class="flex md:flex-row md:justify-between md:items-center flex-col w-full"
        >
          <div class="lg:flex lg:justify-between grid grid-cols-2 gap-4">
            <div class="lg:justify-between gap-4">
              <p
                class="text-[#344054] font-inter text-sm font-medium cursor-pointer mb-2"
              >
                Date
              </p>
              <div class="dropdown dropdown-bottom">
                <label
                  tabindex="0"
                  (click)="showDate = false;"
                  class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg lg:w-[160px] h-[40px] py-[14px] px-3 cursor-pointer"
                >
                  <p class="my-0 text-black font-inter font-medium text-sm">
                    {{ selectedOption }}
                  </p>
                  <img src="assets/images/icons/downward_arrow.svg" />
                </label>
                <ul
                        tabindex="0"
                        [ngClass]="showDate ? 'hidden' : 'block'"
                        class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52"
                    >
                        <li><a (click)="changeRange(0, 'All Time') ">All Time</a></li>
                        <li><a (click)="changeRange(3, '30 Days')">30 Days</a></li>
                        <li><a (click)="changeRange(2, '7 days' )">7 Days</a></li>
                        <li><a (click)="changeRange(1, '24 Hours')">24 Hours</a></li>
                        <li>
                        <a (click)="changeRange(5, 'Custom Period')"
                            >Custom Period</a
                        >
                        </li>
                    </ul>
              </div>
            </div>
  
            <div class="lg:justify-between gap-4">
              <p
                class="text-[#344054] font-inter text-sm font-medium cursor-pointer mb-2"
              >
                Organization Industry
              </p>
              <div class="dropdown dropdown-bottom">
                <label
                  tabindex="0"
                  (click)="showOrganizationIndustry = false;"
                  [ngClass]="showOrganizationIndustry? 'w-fit' : 'w-[160px]'"
                  class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg  h-[40px] py-[14px] px-3 cursor-pointer"
                >
                  <p class="my-0 text-black font-inter font-medium text-sm">
                    {{ selectedInstituition }}
                  </p>
                  <img src="assets/images/icons/downward_arrow.svg" />
                </label>
                <ul
                  tabindex="0"
                  [ngClass]="showOrganizationIndustry ? 'hidden' : 'block'"
                  class="dropdown-content h-64 overflow-y-scroll menu p-2 shadow bg-white text-black rounded-box w-56"
                >
                  <li><a (click)="selectedInstituition = 'All'">All</a></li>
                  <li><a (click)="changeIndustryType(unit.name)" *ngFor="let unit of industrtList">{{unit.name}}</a></li>
                 
                </ul>
              </div>
            </div>
  
            <div class="lg:justify-between gap-4">
              <p
                class="text-[#344054] font-inter text-sm font-medium cursor-pointer mb-2"
              >
                Organization Sector
              </p>
              <div class="dropdown dropdown-bottom">
                <label
                  tabindex="0"
                  (click)="showOrganizationSector = false;"
                  class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg lg:w-[160px] h-[40px] py-[14px] px-3 cursor-pointer"
                >
                  <p class="my-0 text-black font-inter font-medium text-sm">
                    {{ selectedSector }}
                  </p>
                  <img src="assets/images/icons/downward_arrow.svg" />
                </label>
                <ul
                  tabindex="0"
                  [ngClass]="showOrganizationSector ? 'hidden' : 'block'"
                  class="dropdown-content h-64 overflow-y-scroll menu p-2 shadow bg-white text-black rounded-box w-56"
                >
                  <li><a (click)="selectedSector = 'All'">All</a></li>
                  <li><a (click)="changeSectorType(unit.name)" *ngFor="let unit of sectorList">{{unit.name}}</a></li>

                </ul>
              </div>
            </div>
  
            <!-- <div class="lg:justify-between gap-4">
              <p
                class="text-[#344054] font-inter text-sm font-medium cursor-pointer mb-2"
              >
                Document Type
              </p>
              <div class="dropdown dropdown-bottom">
                <label
                  tabindex="0"
                  (click)="showDocType = false"
                  class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg lg:w-[160px] h-[40px] py-[14px] px-3 cursor-pointer"
                >
                  <p class="my-0 text-black font-inter font-medium text-sm">
                    {{ documentType }}
                  </p>
                  <img src="assets/images/icons/downward_arrow.svg" />
                </label>
                <ul 
                tabindex="0" 
                [ngClass]="showDocType ? 'hidden' : 'block'"
                class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-72">
                  <li><a (click)="documentType='All'">All</a></li>
                  <li><a (click)="changeDocumentType(unit.documentTypeName)" *ngFor="let unit of processingFeeList">{{unit.documentTypeName}}</a></li>
              </ul>
              </div>
            </div> -->
  
            <div class="lg:justify-between gap-4">
              <p
                class="text-[#344054] font-inter text-sm font-medium cursor-pointer mb-2"
              >
                Status
              </p>
              <div class="dropdown dropdown-bottom">
                <label
                  tabindex="0"
                  (click)="showStatus = false;"
                  class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg lg:w-[160px] h-[40px] py-[14px] px-3 cursor-pointer"
                >
                  <p class="my-0 text-black font-inter font-medium text-sm">
                    {{ status }}
                  </p>
                  <img src="assets/images/icons/downward_arrow.svg" />
                </label>
                <ul
                        tabindex="0"
                        [ngClass]="showStatus? 'hidden' : 'block'"
                        class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-72"
                    >
                       
                        <li><a (click)="changeStatus(1, 'Pending')">Pending</a>
                        </li>
                        <li>
                        <a (click)="changeStatus(7, 'Completed')">Completed</a>
                        </li>
                        <li>
                        <a (click)="changeStatus(6, 'Decline')"
                            >Declined</a
                        >
                        </li>
                    </ul>
              </div>
            </div>
  
            <div class="flex items-center mt-6">
              <button
                class="bg-primaryBlue text-white font-medium font-inter text-xs w-[80px] h-[40px] rounded-xl"
                (click)="addFilter()"
              >
                Add Filter
              </button>
              <button
                class="bg-none text-[#4086EF] font-medium font-inter text-xs w-[80px] h-[40px] rounded"
                (click)="clearFilter()"
              >
                Clear Filter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="w-full rounded-xl shadow-sm border-none mt-6">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-[#EBF3FF] text-white rounded-md p-4">
          <h3 class="text-[#344054] text-base font-inter font-medium mb-2">
            Total Organization Requests
          </h3>
          <p class="text-3xl font-nunito text-[#0D47A1] font-bold">
            {{ request?.data?.totalOrganisationRequests }}
          </p>
        </div>
        <div class="bg-[#F6FEF9] text-white rounded-md p-4">
          <h3 class="text-[#344054] text-base font-inter font-medium mb-2">
            Successful Requests
          </h3>
          <p class="text-3xl font-nunito text-[#027A48] font-bold">
            {{ request?.data?.successfulRequests }}
          </p>
        </div>
        <div class="bg-failedLight text-white rounded-md p-4">
          <h3 class="text-[#344054] text-base font-inter font-medium mb-2">
            Failed Requests
          </h3>
          <p class="text-3xl font-nunito text-failedDark font-bold">
            {{ request?.data?.failedRequests }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="border border-[#EFF0F7] bg-white rounded-xl p-6 mt-4">
      <div class="mt-0 bg-white">
        <div class="md:block hidden">
          <form>
            <div class="flex md:flex-row md:justify-between md:items-center flex-col w-full">
                <div class="flex lg:justify-between gap-4">
                    <app-search 
                    (iconSearch)="search($event)"
    [formGrp]="searchForm" formCtrlName="searchPhrase"  
    [placeholder]="'Search by name'"></app-search>
                </div>

                <div class="flex md:items-center gap-4 ">
                    <div>
                        <div class="lg:justify-between gap-4">
                            <div class="dropdown dropdown-end">
                                <label tabindex="0" class="flex justify-between bg-[#F5F9FF] rounded-[10px] items-center  border border-none min-w-[101px] py-[8px] px-4 text-sm cursor-pointer">
                                <p class="my-0 text-[#0D47A1] font-inter font-medium text-sm">Export</p>
                                <img src="assets/images/icons/downward_arrow_blue.svg" alt="" class="">
                                </label>
                                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52">
                                    <li (click)="downloadCSV()"><a>Export as CSV</a></li>
                                    <li (click)=" downloadExcel()"><a >Export as Excel </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
        </div>
  
        <div>
          <div class="overflow-x-auto mt-8 hide-scrollbar">
            <table class="table w-full">
              <thead>
                <tr>
                  <th
                    class="flex gap-1 text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Request ID
                    <span
                      ><img
                        src="/assets/images/icons/arrow_down.svg"
                        alt=""
                        class="mt-0.5"
                    /></span>
                  </th>
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Name
                  </th>
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Document Type
                  </th>
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Organization
                  </th>
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Reason for Request
                  </th>
  
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Status
                  </th>
                  <th
                    class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]"
                  >
                    Action
                  </th>
                </tr>
              </thead>
  
              <tbody class="" *ngIf="request.data.organisationRequests.length >=  1">
                <tr *ngFor="let data of request?.data?.organisationRequests | paginate: { itemsPerPage: filterParams.pageSize, currentPage: pageIndex, totalItems: request?.data?.totalOrganisationRequests }" class=" ">
                  <td class="bg-white">
                    <div>
                      <p
                        class="my-0 text-base cursor-pointer font-inter font-medium text-[#101828]"
                      >
                        {{ data.requestId }}
                      </p>
                      <p
                        class="text-xs font-normal font-inter my-0 text-[#667085]"
                      >
                      {{data?.dateRequested | date }}
                      </p>
                    </div>
                  </td>
  
                  <td class="bg-white">
                    <div>
                      <p
                        class="my-0 text-base font-inter cursor-pointer font-medium text-[#0D47A1]"
                      >
                      {{data.graduteFullName}}
                      </p>
                      <p
                        class="text-xs font-normal font-inter my-0 text-[#667085]"
                      >
                      {{data?.matricNo}}
                      </p>
                    </div>
                  </td>
  
                  <td class="bg-white">
                    <div>
                      <p
                        class="my-0 text-base cursor-pointer font-inter font-normal text-[#667085]"
                      >
                        {{ data.documentType }}
                      </p>
                    </div>
                  </td>
                  <td class="bg-white">
                    <div>
                      <p
                        class="my-0 text-base cursor-pointer font-inter font-normal text-[#667085]"
                      >
                        {{ data.organisationName }}
                      </p>
                    </div>
                  </td>
                  <td class="bg-white">
                    <div>
                      <p
                        class="my-0 text-base cursor-pointer font-inter font-normal text-[#667085]"
                      >
                        {{ data.reasonForRequest }}
                      </p>
                    </div>
                  </td>
  
                  <td class="bg-white">
                    <div class="rounded text-center">
                      <div
                        class="rounded-full text-center w-fit px-2 py-[2px] flex items-center"
                        
                      >
                      <div
                        class="mr-3 w-2 h-2 rounded-full"
                        [ngClass]="
                        data.status === 1
                        ? 'bg-[#A0A3BD]'
                        : data.status === 2
                        ? 'bg-[#FDCC62]'
                        : data.status === 3
                        ? 'bg-[#E61B00]'
                        : data.status === 4
                        ? 'bg-[#008400]'
                        : data.status === 5
                        ? 'bg-[#EE6D00]'
                        : data.status === 6
                        ? 'bg-[#E61B00]'
                        : 'bg-[#008400]'
                        "
                      ></div>
                      <p
                        class="my-0 text-sm cursor-pointer font-inter font-medium w-auto"
                        [ngClass]="
                          data.status === 1
                            ? 'text-[#A0A3BD]'
                            : data.status === 2
                            ? 'text-[#FDCC62]'
                            : data.status === 3
                            ? 'text-[#E61B00]'
                            : data.status === 4
                            ? 'text-[#008400]'
                            : data.status === 5
                            ? 'text-[#EE6D00]'
                            : data.status === 6
                            ? 'text-[#E61B00]'
                            : 'text-[#008400]'
                        "
                      >
                        {{ data.status === 1 ? 'Pending' : data.status === 2 ? 'Processing' : data.status === 3 ? 'Dispatched' : data.status === 4 ? 'Paused' : data.status === 5 ? 'Delivered' : data.status === 6 ? 'Declined' : 'Completed' }}
                      </p>
                        
                      </div>
                    </div>
                  </td>
                <td class="bg-white">
                    <div class="flex  gap-2 items-center" 
                    (click)="viewRequest(data.requestId)">
                        
                        <p 
                        class="my-0 text-sm font-inter cursor-pointer font-medium text-[#0D47A1] ">View</p>

                    </div>

                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <app-request-empty-state
        *ngIf="request.data.organisationRequests.length < 1"
        [dataStatus]="'No Request'"
        ></app-request-empty-state>
        <div class="flex items-center justify-end mt-10" *ngIf="request.data.organisationRequests.length >=  1">
          <!-- <p class="text-xs md:text-sm text-[#4E4B66] opacity-50">
            Showing 1 to 7 of {{ graduateList.length }} entries
          </p> -->
          <div class="flex item gap-3">
            <pagination-controls  [responsive]="true"  (pageChange)="getPage(pageIndex = $event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>
