<div class="bg-white p-6">
    <div [routerLink]="'/institution/configuration'" class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img src="assets/images/icons/home.svg">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Configuration
            </p>

        </div>

    </div>

    <div class="md:px-5">
        <div class="items-center my-2">
            <h4 class="font-medium font-poppins text-4xl  text-headerGray my-3">
                Configuration
            </h4>
            <p class="text-lightGray font-inter md:text-base text-sm font-medium cursor-pointer">
                A fee-setting configuration to create specific pricing on academic documents based on its delivery
                options.
            </p>
        </div>
    </div>
    <div class="overflow-x-auto hide-scrollbar">
        <div class="flex gap-6 md:gap-10  pt-3 border-b border-solid border-[#E0E3EA] border-t-0 border-r-0 border-l-0">
            <div routerLink="/institution/configuration" #rlaMember="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                Processing Fee
            </div>
            <div routerLink="/institution/configuration/verification-fee" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                Verification Fee
            </div>
            <div routerLink="/institution/configuration/dispatch-fee" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
                Dispatch Fee
            </div>
            <div routerLink="/institution/configuration/institution-setup" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
                routerLinkActive="activeLink">
                Institution setup
            </div>
            <div routerLink="/institution/configuration/api-configuration" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs cursor-pointer sm:text-base font-normal pb-[18px] active"
                routerLinkActive="activeLink">
                Data Configuration
            </div>
            <div routerLink="/institution/configuration/bank-account-setup" #rlaRoles="routerLinkActive"
                class="flex gap-2 items-center textLight no-underline text-xs cursor-pointer sm:text-base font-normal pb-[18px] active"
                routerLinkActive="activeLink">
                Bank Account Setup
            </div>
        </div>
    </div>


    <div class="mt-6">
        <router-outlet></router-outlet>
    </div>
</div>