<div class="bg-white p-6">
    <div [routerLink]="'/institution/configuration'" class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img  src="assets/images/icons/home.svg">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Configuration
            </p>

        </div>

    </div>

    <div class="px-5">
        <div class="items-center my-2">
            <h4 class="font-medium font-poppins text-4xl  text-headerGray my-3">
                Configuration
            </h4>
        </div>
    </div>
</div>