<div class=" relative flex" [formGroup]="formGrp">
    <!-- <span class="absolute inset-y-0 left-5 flex items-center"><i class="fas fa-lock"></i></span> -->
  
    <input
      [type]="type"
      [id]="id"
      [placeholder]="placeholder"
      [class]="class"
      [required]="required"
      [value]="value"
      [formControlName]="formCtrlName"
      [name]="name"
  
    />
    <span (click)="showPassword()" class="absolute inset-y-0 right-5 flex items-center">
      <ng-container *ngIf="type === 'password'; else text">
        <i class="fas fa-eye-slash"></i>
      </ng-container>
      <ng-template #text>
        <i class="fas fa-regular fa-eye"></i>
      </ng-template>
    </span>
  </div>
  
  <ng-container>
    <small
    class="text-red-500 mt-1"
    [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
    *ngIf="formGrp.controls[formCtrlName].errors?.['required']"
  >
    {{ name }} is required
  </small>
  
  <small class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['minlength']">
    This must be at least {{formGrp.controls[formCtrlName].errors?.['minlength'].requiredLength}}
  </small>
  <small class="text-red-500" *ngIf="formGrp.controls[formCtrlName].errors?.['pattern']">
    It must be a number and must be up to 11 digit
  </small>
  </ng-container>