<div class=" relative flex" [formGroup]="formGrp">
    <!-- <span class="absolute inset-y-0 left-5 flex items-center"><i class="fas fa-lock"></i></span> -->
  
    <input
      [type]="type"
      [id]="id"
      [placeholder]="placeholder"
      [class]="class"
      [required]="required"
      [value]="value"
      [formControlName]="formCtrlName"
      [name]="name"
  
    />
    <span (click)="showPassword()" class="absolute inset-y-0 right-5 flex items-center">
      <ng-container *ngIf="type === 'password'; else text">
        <svg class="h-5 w-5 text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"/>
        </svg>
        
      </ng-container>
      <ng-template #text>
        <svg class="h-5 w-5 text-black"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />  <circle cx="12" cy="12" r="3" /></svg>
      </ng-template>
    </span>
  </div>
  
  <ng-container>
    <small
    class="text-red-500 mt-1"
    [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
    *ngIf="formGrp.controls[formCtrlName].errors?.['required']"
  >
    {{ name }} is required
  </small>
  
  <small class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['minlength']">
    This must be at least {{formGrp.controls[formCtrlName].errors?.['minlength'].requiredLength}}
  </small>
  <small class="text-red-500" *ngIf="formGrp.controls[formCtrlName].errors?.['pattern']">
    It must be a number and must be up to 11 digit
  </small>
  </ng-container>