<div class="pt-10 md:pt-20 bg-white">
  <div class="justify-center relative bg-white rounded-md w-full max-h-[600px]">
    <img src="assets/images/main/faq2.png" class="w-full h-full object-cover relative custom-img-height" />
    <div
      class="flex flex-col gap-4 md:gap-8 p-4 md:p-6 items-center absolute bottom-4 md:bottom-20 top-10 left-4 md:left-20 w-full md:w-1/2">
      <div class="bg-white rounded-2xl p-4 md:p-6">
        <p class="font-poppins font-bold text-3xl md:text-4xl text-primaryBlue">
          Privacy Policy
        </p>
      </div>
    </div>
  </div>
  <main class="py-20 max-w-screen-xl px-4 mx-auto md:px-6 text-justify">
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">INTRODUCTION</h3>
      <p class="text-black pb-2">Welcome to the Verification and Authentication of Certificates (“VAC” or “we” or “us”
        or “our”) solution by the Nigerian Security Printing and Minting Plc (NSPM). We recognize and respect your
        privacy rights as defined in the 1999 Constitution of the Federal Republic of Nigeria, the Nigerian Data
        Protection Regulation 2019 (NDPR) issued by the National Data Technology Development Agency (NITDA), and other
        relevant privacy provisions in laws that apply to our operations in Nigeria. </p>
      <p class="text-black pb-2">This Privacy Policy outlines how we collect, use, and safeguard information obtained
        through our “Website” (https://www.authenticatehub.com), mobile application (“Application”), and other sources
        during the provision of our verification services, transcript services, and any other VAC-related services
        ("Services"). Please carefully review our practices and policies regarding your information. If you disagree,
        you can choose not to use our Services. By accessing our Website or using our Application, you agree to this
        Privacy Policy. Note that this policy may undergo occasional updates, and your continued use of our Services
        after changes implies acceptance, so check periodically for updates. </p>
    </div>
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">CATEGORIES OF DATA </h3>
      <p class="text-black pb-2">This Privacy Policy delineates the collection, utilization, and safeguarding of
        information directly or indirectly identifying you ("Data" or "Personal Data"). We limit the acquisition of
        Personal Data to what is reasonably essential for the intended purposes. Your interaction with us may involve
        the collection, utilization, storage, disclosure, and transfer of your Personal Data, encompassing details such
        as name, address, email, telephone number, date of birth, job title, job function, and financial information
        related to your use of our Website or Application. It may also include student ID/matriculation number,
        educational documents, professional certifications, and information submitted when you or an organization
        requests our Services. Additionally, information about your internet connection, IP address, location data, and
        device details, including password credentials for accessing our Website or Application, may be collected. </p>
    </div>
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">COLLECTION OF DATA </h3>
      <p class="text-black pb-2"><span class="text-[#B96226] font-bold">VAC Collects Data from Partner Institutions and Credential Providers:</span> <br>
        VAC System processes Data from Partner Institutions and Credential Providers, encompassing educational and
        professional records containing both Directory and Non-Directory Information. These institutions, including
        universities, polytechnics, colleges of education, professional bodies, and other education agencies, delegate
        the authority to VAC for the purpose of verifying earned credentials, providing transcript services, and
        facilitating other VAC-related services. </p>
      <p class="text-black pb-2">Associated personally identifiable information collected in the process of using VAC
        services is only used for the sole purpose for which they are collected. Data retention policies are also
        applied to deactivated accounts and collected data destroyed after expiration of retention period. </p>
      <p class="text-black pb-2"><span class="text-[#B96226] font-bold">VAC Collects Data from Your Use of Our Services/Website/Application:</span> <br>
        We collect Data that is directly obtained from you as you engage with our Services on our Website or
        Application. We collect information through forms filled out on our Website or Application, as well as documents
        uploaded in connection with the requested Services. </p>
      <div class="text-black pb-2"><span class="text-[#B96226] font-bold">VAC Collects Data through Automatic Data Collection Technologies: </span><br>
        We utilize automatic data collection technologies, such as cookies, web beacons, and other analytics tools,
        during your interaction with our Website or use of our Application. These technologies help us gather specific
        information about your device, browsing activities, and usage patterns:
        <ul class="list-disc list-inside pl-3">
          <li>Details of your visits to our Website or use of our Application, including usage data, location data,
            logs, and other communication data, along with the resources you access on the Website. </li>
          <li>Information about your computer, mobile device, and internet connection, such as your IP address,
            operating system, and browser type. </li>
        </ul>
      </div>
      <p class="text-black pb-2">These technologies serve various purposes, including behavioral tracking for online
        activities, information security to detect and prevent fraud, abusive practices, and security risks.
        Additionally, they aid in improving our Website and Application, providing a more personalized experience by
        estimating audience size, understanding usage patterns, storing preferences, recognizing return visits, and
        expediting searches. </p>
      <p class="text-black pb-2"><span class="text-[#B96226] font-bold">Website Analytics:</span> In specific instances on the VAC Website and Application, we may
        monitor certain information. Additionally, VAC may track other usage details, such as the type of device
        utilized to access the Website and Application, and the sections users scroll through, in an aggregated form.
        It's important to note that personally identifiable information is not collected or utilized by VAC when
        employing these analytical tools. </p>
      <p class="text-black pb-2"><span class="text-[#B96226] font-bold">Web Beacons:</span> Throughout our Website pages, Application screens, and emails, you may
        encounter small electronic files known as web beacons (also called clear gifs, pixel tags, and single-pixel
        gifs). These elements enable VAC to, for instance, tally users who have visited specific pages, accessed
        screens, or opened an email, and for other related Website and Application statistics such as recording the
        popularity of certain Website and Application content and verifying system and server integrity.</p>
      <p class="text-black pb-2"><span class="text-[#B96226] font-bold ">Cookies:</span> A cookie is a small file placed on your computer's hard drive, and we only do
        so with your consent. You can decline browser cookies by adjusting the settings on your browser or mobile
        operating system. However, opting for this setting might limit access to specific sections of our Website and
        Application. Unless your browser settings are configured to reject cookies, our system will generate cookies
        when you access our Website and Application. </p>
      <p class="text-black pb-2">We may also collect information you share regarding VAC on social media, such as
        Facebook, X, Instagram, or LinkedIn. </p>
    </div>
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">USE OF DATA </h3>

      <div class="text-black pb-3">
        <ul class="list-disc list-inside pl-3">
          <li><span class="text-[#B96226] font-bold pb-2">Certificate Verification:</span> <br>
            We offer a certificate verification service for partner institutions. This service validates an individual's
            academic and/or professional certificates/certifications to employers, background screeners, and others
            requiring confirmation of these data elements for employment or educational purposes, given that the
            individual is 18 years of age or older. Verification is conducted with the explicit consent of the
            individual or, if the individual is below 18 years old, with the consent of their parent or guardian. During
            these verifications, VAC utilizes student Data provided by partner institutions, to whom we are an
            authorized partner, solely for the purpose of certificate verification. </li>
          <li><span class="text-[#B96226] font-bold pb-3">Transcript:</span> <br>
            We only send student transcripts to third parties upon receiving explicit consent from the student. Our
            secure process facilitates transcript requests, delivering them to designated recipients, including
            educational institutions or prospective employers, as specified in the order. As part of VAC's electronic
            transcript delivery methods, we may temporarily retain transcripts until they are accessed by the designated
            recipient. Any changes in our approach to processing student transcripts will be communicated through
            notifications on our Website or Application. </li>
          <li><span class="text-[#B96226] font-bold pb-2">General Purpose:</span> <br>
            We utilize Data collected from your use of our Website or Application for various purposes, including but
            not limited to:

            <ul class="list-['-'] list-inside pl-3">
              <li><span class="pl-5">
                Presenting our Website or Application and their contents to you and to improve your experience
                  interacting with our Website or Application.
              </span></li>
              <li><span class="pl-5">Providing requested information and Services. </span></li>
              <li><span class="pl-5">Authenticating submitted information and credentials for verification. </span> </li>
              <li><span class="pl-5">Allowing updates, upgrades, or additional copies of existing credential evaluations.</span> </li>
              <li><span class="pl-5">Fulfilling any other purposes specified during information provision. </span></li>
              <li><span class="pl-5">
                Issuing notices about your account, fulfilling contractual obligations, and notifying you about
                  changes.
              </span> </li>
              <li><span class="pl-5">
                Compiling research information and diagnosing server problems for system efficiency, reliability, and
                  security.
              </span> </li>
              <li><span class="pl-5">
                Fulfilling orders, sending transcripts, and providing necessary correspondence, including
                  authentication of the identity of service requestors.
              </span></li>
              <li><span class="pl-5">Informing Partner Institutions or individuals about inquiries regarding education records.</span></li>
              <li><span class="pl-5">
                Assessing services and operations for improvement, understanding user interests and needs, and
                  conducting research.
              </span> </li>
              <li><span class="pl-5">Meeting legal and regulatory requirements and maintaining accurate records.</span> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">THIRD PARTIES’ PRODUCTS AND COOKIES </h3>

      <p class="text-black pb-2">Subject to your consent, we may use your information to reach out to you regarding our
        own and third parties' goods and services that might align with your interests. To grant consent, please mark
        the relevant box on the Data collection form. Regarding third-party use of cookies and tracking technologies,
        certain content or resources on the Website and Application are provided by third parties. We lack control over
        these third parties' tracking technologies or their usage. Should you have inquiries about advertisements or
        targeted content, kindly reach out directly to the responsible provider through the links on their website. </p>

    </div>
    <div class="mb-3">

      <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">DISCLOSURE OF DATA </h3>

      <div class="text-black pb-2">Your Personal Data is not shared, sold, or disclosed for purposes beyond those
        outlined in this Privacy Policy or as permitted by law. However, we may disclose aggregated user information
        that does not individually identify users without any restrictions. The disclosure of Personal Data, as outlined
        in this Privacy Policy, may occur in the following circumstances:

        <ul class="list-['-'] list-inside pl-3">
          <li><span class="pl-5">
            Compliance with court orders, laws, or legal processes, including responses to government or regulatory
              requests.
          </span> </li>
          <li><span class="pl-5">
            Enforcement or application of our Terms and Conditions and other agreements, including for billing and
              collection purposes.
          </span> </li>
          <li><span class="pl-5">
            When deemed necessary or appropriate to protect the rights, property, safety, or reputation of VAC, our
              customers, or others.
          </span> </li>

        </ul>
      </div>


    </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">YOUR DATA RIGHTS  </h3> 
            
                <div class="text-black pb-2">
                    In line with the Nigerian Data Protection Regulation (NDPR), you possess various rights regarding the personally identifiable information you provide to us. This policy has been crafted to ensure the preservation of your rights, which include: 
                    <ul class="list-disc list-inside pl-3">
                        <li>Your right to access your Personal Data that we hold;  </li>
                        <li>Your right to object to our processing of Personal Data in certain circumstances;</li>
                        <li>Your right to erase Personal Data without delay if:    <br>
                            
                            <ul class="list-['-'] list-inside pl-3">
                                <li><span class="pl-5">It is no longer necessary in relation to the purposes for which it was collected or otherwise processed;</span>  </li>
                                <li><span class="pl-5">The only legal basis of processing is Consent and that Consent has been withdrawn and there is no other legal basis on which we can process that Personal Data;</span>  </li>
                                <li><span class="pl-5">You object to our processing where the legal basis is the pursuit of a legitimate interest or the public interest and we can show no overriding legitimate grounds or interest;</span>    </li>
                                <li><span class="pl-5">Processing is unlawful;</span></li>
                                <li><span class="pl-5">Data is inaccurate; </span></li>
                            </ul>
                        </li>
                        <li>Your right to change, rectify or redress inaccurate data  </li>
                        <li>Your right to ask us for a copy of the safeguards under which Personal Data is transferred outside of Nigeria;</li>
                        <li>Your right to be notified of a Data Breach that impacts on your information;  </li>
                    </ul>
                </div>
    </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">RETENTION OF DATA  </h3>
        <p class="text-black pb-2">User Data obtained through our Website and Application will be retained for a period of twelve (12) calendar months and when the time lapses, the data will be expunged, any subsequent requests will be treated as a fresh request, and charges will apply. It will be preserved for the time necessary to provide essential services such as credential verification, facilitation of transcript requests, and the prevention of fraudulent activities. Additionally, the retention period extends to cover the duration required to fulfill the initial purpose of data collection or to comply with legal obligations. This timeframe also encompasses the need to safeguard our legal interests and pursue legal rights.  
            Furthermore, user data will be stored on our backup and disaster recovery systems, adhering strictly to our established policies and procedures. This ensures a comprehensive and secure data management approach in alignment with our backup and disaster recovery protocols. Lastly, for aggregated or anonymized data where individual identification is no longer feasible, retention is indefinite. This approach allows for the continued analysis and utilization of anonymized data while respecting privacy standards and regulatory requirements. 
             </p>
      </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">DATA SECURITY   </h3>
        <p class="text-black pb-2">We have implemented comprehensive measures, including physical, organizational, and technological safeguards, to ensure the security of your Personal Data. SSL technology encrypts all connections to our Website and servers through our Application. Sensitive data is encrypted, stored securely, and accessible only to authorized users. Access to our Platforms is restricted, and data is stored in secure servers, physical locations, and cloud infrastructure, including external data centers for enhanced security and availability. Credit card processing is handled by a third-party gateway, and industry-standard access controls and data protection mechanisms secure electronic information. Intrusion prevention and detection systems are deployed to safeguard the integrity of our systems.  </p>
        <p class="text-black pb-2">The security of your information is a shared responsibility. If you have a username and password for specific parts of our Website or Application, it is crucial to keep this information confidential. We advise using a unique password and refraining from sharing it. For added security, periodic password changes may be prompted. VAC adheres to security best practices by storing a cryptographic hash of your password rather than the original password. Should you forget your password, we can help you reset your account and choose a new password; however, the previous password cannot be recovered.  </p>
        <p class="text-black pb-2">While we strive to safeguard your personal data, it is important to note that the transmission of information over the Internet is not entirely secure. We cannot assure the absolute security of personal data transmitted to our Website or through our Application. Any such transmission is undertaken at your own risk. We do not take responsibility for the bypassing of privacy settings or security measures within our Application, Website, or servers accessed through our Application.   </p>
      </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">CROSS-BORDER TRANSFER OF DATA   </h3>
        <p class="text-black pb-2">In delivering our Services, it may be necessary to transfer your personal data beyond the borders of Nigeria in line with consent. However, we are steadfast in our commitment to ethical and responsible practices, ensuring the adequate protection of your personal data regardless of its location. While your information may be subject to disclosure by local governments, courts, law enforcement, or regulatory agencies in these jurisdictions, we adhere to applicable data protection laws and implement necessary safeguards for data transfers. Such transfers are conducted in compliance with the Nigeria Data Protection Regulation and other applicable privacy laws, ensuring that the destination country provides an adequate level of data protection as required. By utilizing our Services, you acknowledge understanding and consent to these terms. </p>
      </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">PAYMENT    </h3>
        <p class="text-black pb-2">We offer paid services within our platform, and for payment processing, we utilize third-party services, such as payment gateways. Your payment card details are not stored or collected by us. Instead, this information is directly provided to our third-party payment gateways, whose handling of your personal information is governed by their Privacy Policy. These payment gateways adhere to Payment Card industry Data Security Standard (PCI-DSS) requirements, as overseen by the PCI Security Standards Council, a collaborative effort involving brands like Visa, Verve, and Mastercard. Compliance with PCI-DSS requirements ensures the secure handling of payment information.  </p>
      </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">PRIVACY POLICY CHANGES    </h3>
        <p class="text-black pb-2">The Privacy Policy is subject to changes or updates at any time, and our procedure involves posting any modifications on this page along with an effective date notice. It's important to acknowledge that your continued use of our Platform following the publication of the revised version signifies your acceptance of the updated terms outlined in the Policy.  </p>
      </div>
    <div class="mb-3">

        <h3 class="text-primaryBlue pb-3 font-bold text-lg underline">CONTACT US    </h3>
        <p class="text-black pb-2">If you have any questions, concerns, complaints or suggestions regarding our Privacy Policy, have any requests related to your personal data pursuant to applicable laws, or otherwise need to contact us, please contact us at the contact information below or through the Contact 
            Us 	page 	on 	our 	Website 	or 	in 	the 	Application 	or 	send 	us 	an 	email 	at <a class="text-link link" href="mailto:support@authenticatehub.com">support@authenticatehub.com</a>   </p>
        <p class="text-black pb-2">The Data Protection Officer (“DPO”) is responsible for overseeing this Policy. NSPM’s DPO is Mrs. Chika Ikelionwu and can be reached at  
            Us 	page 	on 	our 	Website 	or 	in 	the 	Application 	or 	send 	us 	an 	email 	at <a class="text-link link" href="mailto:dataprotectionteam@mintnigeria.com ">dataprotectionteam@mintnigeria.com </a>   </p>
      </div>
  </main>
</div>
