<div class="bg-white md:p-6 px-4 py-6">
    <!--Header-->
    <div class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img [routerLink]="'/main/requests'" src="assets/images/icons/home.svg" alt="home-icon">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg" alt="forward-arrow">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Talent Search Pool
            </p>

        </div>

    </div>
    <div class="md:px-5">
        <div class="items-center my-2 flex flex-wrap justify-between">
            <h4 class="font-medium font-poppins lg:text-4xl text-xl  text-darkGray my-3">
                Talent Search Pool
            </h4>
            <div class="items-center mt-6 mb-3">
                <app-button
                [overRideButtonClass]="true"
                [customClass]="'font-inter text-base font-medium text-white bg-buttonBlue rounded-lg p-3'"
                [routerLink]="'/organization/talent-search-pool/search-talent'">
                    New Talent Search
                </app-button>
            </div>
        </div>
    </div>
    <!---->

    <!--Filters-->

    <div class="w-full  rounded-xl shadow-sm p-6 border-none  bg-tabBlue">
            <form>
                <div class="flex md:flex-row md:justify-between md:items-center  flex-col w-full">
                    <div class="lg:flex lg:justify-between gap-4 grid grid-cols-2 ">
                        <div class="lg:justify-between gap-4">
                            <p class="text-failedNormal font-inter text-sm font-medium cursor-pointer mb-2">
                                Date
                            </p>
                            <div class="dropdown dropdown-bottom">
                                <label tabindex="0"
                                (click)="showDate = false"
              [ngClass]="showDate? 'w-fit' : 'w-[160px]'"
                                 class="flex justify-between items-center bg-white rounded-[10px] border border-inputBg lg:w-40 h-10 w-32  py-4 px-3 cursor-pointer">
                                <p class="my-0 text-black font-inter font-medium text-sm">{{ selectedOption }}</p>
                                <img src="assets/images/icons/downward_arrow.svg" alt="downward_arrow">
                                </label>
                                <ul tabindex="0" [ngClass]="showDate? 'hidden' : 'block'" class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52">
                                    <li><a (click)="changeRange(0, 'All Time') ">All Time</a></li>
                                    <li><a (click)="changeRange(3, '30 Days')">30 Days</a></li>
                                    <li><a (click)="changeRange(2, '7 days' )">7 Days</a></li>
                                    <li><a (click)="changeRange(1, '24 Hours')">24 Hours</a></li>
                                    <li>
                                      <a (click)="changeRange(5, 'Custom Period')">Custom Period</a>
                                    </li>
                                  </ul>
                            </div>
                        </div>
<!-- 
                        <div class="lg:justify-between gap-4">
                            <p class="text-failedNormal font-inter text-sm font-medium cursor-pointer mb-2">
                                Institution
                            </p>
                            <ng-select class="ng-select-filter !w-40 !h-10" (change)="changeInstitution($event)" [selectOnTab]="true"
            [placeholder]="selectedInstitution">
            <ng-option  *ngFor="let unit of institutionList; let i = index" [value]="unit">{{unit?.institutionName}}</ng-option>
          </ng-select>
                            <div class="dropdown dropdown-bottom">
                                
                            </div>
                        </div>

                        <div class="lg:justify-between gap-4">
                            <p class="text-failedNormal font-inter text-sm font-medium cursor-pointer mb-2">
                                Faculty
                            </p>
                            <ng-select class=" !w-40 "  [selectOnTab]="true" (change)="changeFaculty($event)"
                [placeholder]="selectedFaculty">
                <ng-option  *ngFor="let unit of facultyList; let i = index" [value]="unit.name">{{unit?.name}}</ng-option>
              </ng-select>
                           
                        </div>

                        <div class="lg:justify-between gap-4">
                            <p class="text-failedNormal font-inter text-sm font-medium cursor-pointer mb-2">
                                Degree Type
                            </p>
                            <ng-select class="ng-select-filter !w-40 !h-10"  [selectOnTab]="true"
                [placeholder]="selectedSector" (change)="changeDegree($event)">
                <ng-option  *ngFor="let unit of degreeType; let i = index" [value]="unit.name">{{unit?.name}}</ng-option>
              </ng-select>
                           
                        </div> -->

                        <div class="flex items-center ">
                            <button type="button" class="bg-[#4086EF] text-white font-medium font-inter text-xs w-[80px] h-[40px] rounded-xl" (click)="addFilter()">Generate</button>
                            <button  type="button" class="bg-none  text-[#4086EF] font-medium font-inter text-xs w-[80px] h-[40px] rounded" (click)="clearFilter()">Clear Filter</button>
                        </div>

                    </div>
                    
                </div>
            </form>
    </div>

    <!---->

    <!--Table-->

    <div class="mt-3 py-3 rounded-xl bg-white border border-solid border-[#EFF0F6]">
        <!--Search and Export-->
        <div class="mt-3 bg-white">
            <div class="md:block hidden px-7">
                <form>
                    <div class="flex md:flex-row md:justify-between md:items-center flex-col w-full">
                        <div class="flex lg:justify-between gap-4">
                            <app-search 
                            [placeholder]="'Search...'"
                            (iconSearch)="search($event)"
                            [formGrp]="searchForm" formCtrlName="searchPhrase"  
                            ></app-search>
                        </div>
                    </div>
                </form>

            </div>
            <!---->

            <!--Table Content-->

            <div>

                <div class="overflow-x-auto mt-8 hide-scrollbar">
                    <table class="table w-full">
                        <thead>
                            <tr>
                                <th class="flex gap-1 text-xs text-lightGray font-medium font-inter bg-tableHeader ">Batch ID / Date
                                </th>
                                <!-- <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader  ">Institution Name</th> -->
                                <!-- <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader  ">Class of Degree</th> -->
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader ">Record Counts</th>
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader ">Action</th>
                            </tr>
                        </thead>

                        <tbody class="" *ngIf="poolList?.length !== 0">
                            <tr *ngFor="let data of poolList | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: total }" class=" ">
                            
                                
                                <td class="bg-white">
                                    <div class="items-center">
                                        <div>
                                            <div>
                                                <p class="my-0 text-base cursor-pointer font-inter font-medium text-darkGray ">{{data.batchIdNumber}}</p>
                                                <p class="text-xs font-normal font-inter my-0 text-lightGray">
                                                {{data.createdOn | date: 'medium'}}
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <!-- <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.institutions}}</p>  
                                    </div>
                                </td>
                                
                                <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.classesOfDegree}}</p>  
                                    </div>
                                </td> -->

                               
                                <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.count}}</p>
                                      
                                    </div>

                                </td>
                                <td class="bg-white">
                                    <div 
                                    class="flex  gap-2 items-center" 
                                    [routerLink]="'/organization/talent-search-pool/view-report/'+data.id">
                                    <p 
                                    class="my-0 text-sm font-inter cursor-pointer font-medium text-primaryBlue ">View</p>
                                    </div>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                    
                    
                </div>
                <app-request-empty-state
                *ngIf="poolList?.length < 1"
                [dataStatus]="'No record found'"
                ></app-request-empty-state>
            </div>

            <!---->

            <!--Pagination-->
            <div class="flex items-center justify-between mt-10" *ngIf="poolList?.length !== 0">
                <select class=" text-black select max-w-xs bg-white" (change)="selectRecordCount($event.target)">
                    <option disabled selected>Per page</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                  </select>
                <div class="flex item gap-3">
                  <pagination-controls  [responsive]="true"  (pageChange)="getPage(pageIndex = $event)" previousLabel="Prev" nextLabel="Next">
                  </pagination-controls>
        
                </div>
              </div>

        </div>
                
    </div>

   

</div>