
<div class="bg-white p-6">
     <!--Header-->
     <div class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img [routerLink]="'/main/requests'" src="assets/images/icons/home.svg" alt="home-icon">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg" alt="forward-arrow">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Verification
            </p>

        </div>

    </div>
    <div class="flex  items-center md:gap-4 gap-2 mt-6" (click)="goBack()">
        <div>
            <img src="assets/images/icons/back_arrow.svg">
        </div>

        <div>
            <p class="text-[#0D47A1] font-inter md:text-base text-sm font-medium cursor-pointer">
                Back to all verifications
            </p>

        </div>

    </div>

    <div class="px-5">
        <div class="my-2">
            <div class="flex justify-between items-center">
                <div>
                    <h4 class="font-medium font-poppins lg:text-4xl text-xl  text-darkGray my-3">
                        New Verification
                    </h4>
                    <p></p>
                </div>
                <div class="border rounded-lg flex gap-1 items-center h-8 p-2">
                    <img src="assets/images/icons/walletIcon.svg" alt="walletIcon" >
                    <p class="font-inter font-medium text-sm text-failedNormal">Wallet Balance: ₦{{balance || 0 | commaDelimiter}}</p>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="px-5 md:px-6 mt-6 pb-20">
        <form [formGroup]="institutionDetailsForm">
    
            <div
                class=" border border-solid border-[#EAECF0] border-t-2 border-b-2 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
                <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
                    <div>
                        <h3 class="font-medium text-sm text-[#344054]">Institution Details</h3>
                        <p class="text-sm text-[#667085]">
                            Select the institution you wish to request certificate or transcript from
                        </p>
                    </div>
    
                    <div class="grid gap-5">
                        <div>
                            <p class="input_label label_asterisk my-1">Institution Name <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown" (change)="selectInstitutionName($event)"
                                formControlName="institutionName" [selectOnTab]="true" placeholder="All">
                                <ng-option *ngFor="let unit of institutionList" [value]="unit">{{unit?.institutionName}}</ng-option>
                              </ng-select>
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Faculty <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown"
                            formControlName="faculty"
                            [selectOnTab]="true"
                            placeholder="Select Faculty"
                            (change)="getDepartmentInFaculty($event)"
    
                            >
                            <ng-option *ngFor="let unit of facultyList" [value]="unit">{{unit.name}}</ng-option>
                        </ng-select>
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Department <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown"
                                  formControlName="department"
                                  [selectOnTab]="true"
                                  placeholder="Select Department"
    
                                  >
                                  <ng-option *ngFor="let unit of departmentList" [value]="unit.departmentName">{{unit.departmentName}}</ng-option>
                              </ng-select>
                        </div>
    
                    </div>
                </div>
            </div>
            <div
                class=" border border-solid border-[#EAECF0] border-t-0 border-b-2 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
                <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
                    <div>
                        <h3 class="font-medium text-sm text-[#344054]">Academic Details</h3>
                        <p class="text-sm text-[#667085]">
                            Please fill out your academic details to help us track your available credentials
                        </p>
                    </div>
    
                    <div class="grid gap-5">
                        <div>
                            <p class="input_label label_asterisk my-1">First Name <span class="text-danger">*</span></p>
                            <app-input [formGrp]="institutionDetailsForm" formCtrlName="firstName" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter full name" [name]="'First Name'"></app-input>
    
                        </div>
                        <div>
                          <p class="input_label label_asterisk my-1">Middle Name <span class="text-danger">*</span></p>
                          <app-input [formGrp]="institutionDetailsForm" formCtrlName="middleName" [type]="'text'" [class]="
                  'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                " placeholder="Enter full name" [name]="'Middle Name'"></app-input>
    
                      </div>
                      <div>
                        <p class="input_label label_asterisk my-1">Last Name <span class="text-danger">*</span></p>
                        <app-input [formGrp]="institutionDetailsForm" formCtrlName="lastName" [type]="'text'" [class]="
                'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
              " placeholder="Enter name" [name]="'Last Name'"></app-input>
    
                      </div>
                        <div>
                            <p class="input_label my-1">Gender <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown" (change)="changeGender($event)" formControlName="gender"
                                [selectOnTab]="true" placeholder="Select Gender">
                                <ng-option [value]="1">Male</ng-option>
                                <ng-option [value]="2">Female</ng-option>
                            </ng-select>
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Matriculation Number <span class="text-danger">*</span></p>
                            <app-input [formGrp]="institutionDetailsForm" formCtrlName="matricNo" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter Matric Number" [name]="'Matriculation'"></app-input>
    
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Degree Type <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown" (change)="changeGender($event)"
                                formControlName="degreeType" [selectOnTab]="true" placeholder="Select degree Type">
                                <ng-option *ngFor="let unit of degreeType" [value]="unit.name">{{unit.name}}</ng-option>
    
                            </ng-select>
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Year of Entry <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown"
                            formControlName="yearOfEntry"
                            [selectOnTab]="true"
                            placeholder="Select year of entry"
    
                            >
                            <ng-option *ngFor="let unit of years" [value]="unit">{{unit}}</ng-option>
                        </ng-select>
                        </div>
                        <div>
                            <p class="input_label label_asterisk my-1">Year of Graduation <span class="text-danger">*</span></p>
                            <ng-select class="custom-ng-dropdown"
                            formControlName="yearOfGraduation"
                            [selectOnTab]="true"
                            placeholder="Select year of graduation"
    
                            >
                            <ng-option *ngFor="let unit of years" [value]="unit">{{unit}}</ng-option>
                        </ng-select>
                        </div>
                        <div class="flex items-center mt-10 mb-4">
                            <input id="default-checkbox" type="checkbox" value="" formControlName="consent"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="default-checkbox"
                                class="ml-2 text-sm font-medium text-failedNormal dark:text-gray-300 font-inter">I consent
                                that the
                                information provided above is true and correct.</label>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="flex justify-end mt-4 gap-3">
    
                <app-button (buttonClick)="cancel()" [overRideButtonClass]="true"
                    customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base leading-6 bg-white border-2 border-solid border-[#EAECF0] text-[#344054]">Cancel</app-button>
                <app-button [overRideButtonClass]="true" [disabled]="institutionDetailsForm.invalid"
                    customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base text-white leading-6 bg-primaryBlue"
                    (buttonClick)="searchRecord()">Search</app-button>
            </div>
        </form>
      </div>
</div>
  