<div class="border-1.5 rounded-t-md">
    <div class="flex justify-between items-center border-b-1.5 py-4   px-6">
        <h3 class=" font-sans font-bold text-base text-black">Institutions</h3>
        <app-button (buttonClick)="addNewInstitution()" buttonText="Add institution" customClass="text-sm text-white font-inter rounded-lg font-medium px-4 py-2.5 bg-primaryBlue" [overRideButtonClass]="true"></app-button>
    </div>
    <div class="py-6 md:px-6" *ngIf="!isNewInstitution">
        <div class="overflow-x-auto mt-3 hide-scrollbar border rounded-xl shadow-sm" >
            <table class="table w-full">
            <thead>
                <tr>
                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader">Institution Name</th>
                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader"> Institution Type</th>
                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader"> Institution Sector</th>
                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader">Institution Body</th>
                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader"> </th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let data of updatedList; let i = index">
                <td class="bg-white"> 
                    <p class="font-inter font-medium text-base text-darkGray">{{data.institutionName}}</p>
                </td>
                <td class="bg-white">
                    <p class="font-inter font-normal text-base text-lightGray">{{data.institutionType}}</p>
                </td>
                <td class="bg-white">
                    <p class="font-inter font-normal text-base text-lightGray">{{data.institutionSector}}</p>
                </td>
                <td class="bg-white"> {{data.institutionBody}}</td>
                <td class="bg-white">
                    <div class="flex gap-3">
                        <p class="font-inter font-medium text-base text-primaryBlue cursor-pointer" (click)="editInstitution(data, i, 'update')">Edit</p>
                        <p class="font-inter font-medium text-base text-primaryBlue cursor-pointer" (click)="deleteInstitution(data, i)">Delete</p>
                    </div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        
    </div>
    <div class="p-6 " >
 
        
        <div class=" mt-4" [formGroup]="newInstitution" *ngIf="isNewInstitution">
            <div class="lg:w-10/12 ">
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                            Institution Body
                        </label>
                    </div>
                    <div class="w-full md:w-2/3" *ngIf="institutionBody$ | async as body">
                        <div class="">
                           
                            <ng-select class="custom-ng-dropdown"  (change)="selectInstitutionBody($event)" formControlName="body" [selectOnTab]="true"
            placeholder="Select Institution body">
            <ng-option *ngFor="let unit of body.data" [value]="unit">{{unit.name}}</ng-option>
          </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                            Institution Type
                        </label>
                    </div>
                    <div class="w-full md:w-2/3" *ngIf="institutionType$ | async as type">
                        <div class="">
                            <ng-select class="custom-ng-dropdown" (change)="selectInstitutionType($event)" formControlName="type" [selectOnTab]="true"
                            placeholder="Select Institution type">
                            <ng-option *ngFor="let unit of type.data" [value]="unit">{{unit.name}}</ng-option>
                          </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Institution Sector
                        </label>
                    </div>
                    <div class="w-full md:w-2/3" *ngIf="institutionSectors$ | async as sector">
                        <div class="">
                            <ng-select class="custom-ng-dropdown" (change)="selectInstitutionSector($event)" formControlName="sector" [selectOnTab]="true"
            placeholder="Select Institution sector">
            <ng-option *ngFor="let unit of sector.data" [value]="unit">{{unit.name}}</ng-option>
          </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Institution Name
                        </label>
                    </div>
                    <div class="w-full md:w-2/3">
                        <div class="">
                            <ng-select class="custom-ng-dropdown" (change)="selectInstitutionName($event)"   formControlName="name" [selectOnTab]="true"
                            placeholder="Select Institution Name">
                            <ng-option *ngFor="let unit of institutionList" [value]="unit?.name">{{unit?.name}}</ng-option>
                          </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Faculty
                        </label>
                    </div>
                    <div class="w-full md:w-2/3">
                        <div class="w-full ">
                            <ng-select class="custom-ng-dropdown"
                            formControlName="faculty"
                            [selectOnTab]="true"
                            placeholder="Select Faculty"
                            (change)="getDepartmentInFaculty($event)"

                            >
                            <ng-option *ngFor="let unit of facultyList" [value]="unit">{{unit.name}}</ng-option>
                        </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Department
                        </label>
                    </div>
                    <div class="w-full md:w-2/3">
                        <div class="w-full ">
                            <ng-select class="custom-ng-dropdown"
                            formControlName="department"
                            [selectOnTab]="true"
                            placeholder="Select Department"
                            
                            >
                            <ng-option *ngFor="let unit of departmentList" [value]="unit.departmentName">{{unit.departmentName}}</ng-option>
                        </ng-select>
                        </div>
                    </div>
                </div>

                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Year of Entry
                        </label>
                    </div>
                    <div class="w-full md:w-2/3">
                        <div class="w-full ">
                            <ng-select class="custom-ng-dropdown"
                            formControlName="yearOfEntry"
                            [selectOnTab]="true"
                            placeholder="Select year of entry"
                            
                            >
                            <ng-option *ngFor="let unit of years" [value]="unit">{{unit}}</ng-option>
                        </ng-select>
                        </div>
                    </div>
                </div>
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium lg:text-sm text-xs text-failedNormal" for="inline-full-name">
                           Year of Graduation
                        </label>
                    </div>
                    <div class="w-full md:w-2/3">
                        <div class="w-full ">
                            <ng-select class="custom-ng-dropdown"
                            formControlName="yearOfGraduation"
                            [selectOnTab]="true"
                            placeholder="Select year of graduation"
                            
                            >
                            <ng-option *ngFor="let unit of years" [value]="unit">{{unit}}</ng-option>
                        </ng-select>
                        </div>
                       
                    </div>
                </div>
                
            </div>
           
            <div class="flex justify-end items-center border-t pt-4 gap-4 mt-4">
                <app-button
                (buttonClick)="cancelCreate()"
                [overRideButtonClass]="true"
                customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
                >Cancel</app-button>
                <app-button *ngIf="isNewInstitution && institutionAction === 'Save'"
                (buttonClick)="openChangesConfirmed()"
                [disabled]="newInstitution.invalid"
                [overRideButtonClass]="true"
                customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
                >Save</app-button>
                <app-button *ngIf="institutionAction !== 'Save'"
                (buttonClick)="updatedInstitutionList()"
                [overRideButtonClass]="true"
                customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
                >Update</app-button>
            </div>
        </div>


        
    </div>
</div>

<app-modal [id]="confirmChanges">
    <div class="lg:rounded-xl bg-white hide-scrollbar  lg:p-2 p-6 modal-box">
        <div class="grid grid-rows-2 justify-items-center mt-8">
            <img src="assets/images/icons/warning.svg" alt="warning_icon">
            <h3 class="font-inter font-medium text-xl text-discountBlue mt-8">Save Changes?</h3>
            <p class="text-center lg:w-96 font-inter font-normal text-sm text-failedNormal mt-8 px-10">
                Are you sure you want to add Institution?
            </p>
        </div>
        <div class="flex justify-center mt-8 mb-8 gap-3">
            <app-button
            [overRideButtonClass]="true"
            [customClass]="'bg-white rounded-lg border border-buttonBlue  hover:bg-buttonBlue hover:text-white text-buttonBlue text-base font-medium font-inter py-2 px-4'"
            (buttonClick)="cancelConfirmChanges()">
             No ,Cancel
            </app-button>
            <app-button
            [overRideButtonClass]="true"
            [customClass]="'bg-buttonBlue rounded-lg  hover:bg-buttonBlue text-white text-base font-medium font-inter py-2 px-4'"
            (buttonClick)=" saveUpdates()"
            >
                Yes, Save
            </app-button>
        </div>
    </div>
</app-modal>

<app-modal [id]="changesConfirmed">
    <div class="toast toast-center">
        <div class="alert alert-success flex justify-between items-center">
            <div class="font-avenir font-meduim lg:text-lg text-base">
                <span>Your changes have been saved successfully!</span>
            </div>
            <label [for]="changesConfirmed">
                <img src="assets/images/icons/x.svg" alt="close_toast">
            </label>
        </div>
    </div>
</app-modal>