<div class="border-b-1.5 rounded">
    <div class="items-start">
        <div class="py-4 md:px-3 w-3/4" >
            <h3 class="font-inter font-medium text-base text-black">Dispatch Fee</h3>
            <p class="font-inter font-normal text-base text-lightGray">
              View and set the fee to deliver academic documents to physical addresses, to be paid by graduates.
            </p>
            <hr class="w-32  h-1 my-4 border-0 bg-[#EAECF0]">
        </div>
    </div>
    
    <div class="py-3 md:px-3 border-b" *ngFor="let unit of dispatchFee; let parent = index">
        <div class="w-full md:w-10/12 ">
            <div class="flex gap-6 mb-6">
                <div class="w-full md:w-2/4">
                    <p class=" font-inter font-medium text-base text-failedNormal">
                        {{unit.name | uppercase}} (₦)
                    </p>
                    <p class="font-inter font-normal text-sm text-lightGray">
                   {{unit.description}}
                    </p>
                </div>

                <div class="w-full md:w-2/3  gap-6">
                    <div class="w-full md:w-2/3 flex  gap-6">
                        <div>
                            <div class=" mb-6">
                                <div class="w-full ">
                                    <label class=" font-inter font-medium text-sm text-failedNormal " for="inline-full-name">
                                        
                                    </label>
                                </div>
                                <div class="w-full  mt-2">
                                    <input type="text"
                                    (input)="getFee(unit, $event.target, parent)"
                                    [value]="unit.fee"
                                    placeholder="N 5000"
                                    [class]="'px-4 h-[52px] w-full bg-transparent text-black border focus:bg-transparent rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'" 
                                    [name]="'fee'"
                                    (blur)="addCommas(unit, $event.target, parent)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>



    <div class="flex justify-end items-center gap-4 mt-4 mb-6">
        <!-- <app-button
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
            >Cancel
        </app-button> -->
        <app-button
        [overRideButtonClass]="true"
        (buttonClick)="saveDispatch()"
        customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Save Changes
        </app-button>
    </div>
</div>