<div class="bg-white p-6 " >
  <div class="flex justify-between">
    <div>
        <h4 class="font-poppins font-medium text-3xl headerGray capitalize pb-1">
            Welcome back, {{ adminUser?.user.firstName }}
        </h4>
        <p class="font-nunito font-normal text-base text-lightGray mb-6">
            Last login date: {{ adminUser?.user.lastLogin }}
        </p>
    </div>
    <app-button
    (buttonClick)="reloadScreen()"
    [overRideButtonClass]="true"
    [customClass]="'flex items-center gap-2 rounded-lg p-1 m-auto w-fit bg-tabBlue text-primaryBlue text-base font-inter font-medium'">
    <img src="assets/images/icons/refresh.svg" alt="refresh">
    <p>Refresh</p>
    </app-button>
  </div>

  <div *ngIf="permissionList?.includes('INSTITUTION_DASHBOARD') || superAdminRole === 'Super Admin' || superAdminRole === 'undefined'" >
    <div class="overflow-x-auto hide-scrollbar mb-6">
      <div class="inline-flex rounded-md shadow-sm  bg-white" role="group">
        <button (click)="changeRange(0)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          All Time
        </button>
        <button (click)="changeRange(4)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          12 month
        </button>
        <button (click)="changeRange(3)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          30 days
        </button>
        <button (click)="changeRange(2)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          7 days
        </button>
        <button (click)="changeRange(1)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          24 hours
        </button>
        <button (click)="changeRange(5)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          Custom date
        </button>
      </div>
    </div>

    <div>
        
    </div>
  </div>

  <div *ngIf="permissionList?.includes('INSTITUTION_DASHBOARD') || superAdminRole === 'Super Admin' || superAdminRole === 'undefined'"  class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-[22px]">
    <div class="rounded-md border">
      <div class="bg-successLight">
        <div class="p-6">
          <div class="flex mb-3">
            <div class="flex p-1 rounded mr-2 bg-[#12B76A]">
              <img src="assets/images/main/Number.svg" alt="" />
            </div>
            <p
              class="border-b border-dashed font-inter font-semibold text-base text-failedNormal"
            >
              Total revenue generated
            </p>
          </div>
          <p class="text-successNormal font-bold text-3xl font-poppins">
            ₦{{cardInfo?.revenueGeneratedVM.totalRevenueGenerated || 0 | commaDelimiter}}</p>

        </div>
      </div>
      <div class="bg-white">
        <div class="p-6">
          <div class="border-b mb-2">
            <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
              From graduates requests
            </p>
            <p class="mb-4 font-medium text-sm font-inter text-failedNormal">
              ₦{{cardInfo?.revenueGeneratedVM.totalRevenueFromGraduates || 0 | commaDelimiter}}
            </p>
          </div>
          
          <div>
            <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
              From organisation requests
            </p>
            <p class="font-medium text-sm font-inter text-failedNormal">
              ₦{{cardInfo?.revenueGeneratedVM.totalRevenueFromOrganizations || 0 | commaDelimiter}}            </p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="rounded-md border">
      <div class="bg-[#FEF6EE]">
        <div class="p-6">
          <div class="flex mb-3">
            <div class="flex p-1 rounded mr-2 bg-[#F38744]">
              <img src="assets/images/main/Fintech.svg" alt="" />
            </div>
            <p
              class="border-b border-dashed font-inter font-semibold text-base text-failedNormal"
            >
              Total requests
            </p>
          </div>
          <p class="text-failedNormal font-bold text-3xl font-poppins">
            {{cardInfo?.requestsDashboardVM?.totalRequests || 0}}
          </p>
        </div>
      </div>
      <div class="bg-white">
        <div class="p-6">
          <div class="border-b mb-2 flex justify-between items-center">
            <div>
                <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
                Graduate
                </p>
                <p class="mb-4 font-medium text-sm font-inter text-failedNormal">
                  {{cardInfo?.requestsDashboardVM?.graduateRequests || 0}}
                </p>
            </div>
            <!-- <div class="flex gap-1 items-center">
                <div class="bg-lightGray rounded-full h-2 w-2"></div>
                <p class="font-medium text-sm font-inter text-failedNormal">
                0
                </p>
            </div> -->
          </div>
        
          <div class="flex justify-between items-center">
            <div>
                <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
                Organization
                </p>
                <p class="mb-4 font-medium text-sm font-inter text-failedNormal">
                  {{cardInfo?.requestsDashboardVM?.organizationRequests || 0}}
                </p>
            </div>
            <!-- <div class="flex gap-1 items-center">
                <img src="../../../../assets/images/icons/arrow_up.svg" alt="arrow_up">
                <p class="font-medium text-sm font-inter text-successNormal">
                4
                </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="rounded-md border">
      <div class="bg-[#F9FAFB]">
        <div class="p-6">
          <div class="flex mb-3">
            <div class="flex p-1 rounded mr-2 bg-[#667085]">
              <img src="assets/images/main/Users.svg" alt="" />
            </div>
            <p
              class="border-b border-dashed font-inter font-semibold text-base text-failedNormal"
            >
              Total Record
            </p>
          </div>
          <p class="text-failedNormal font-bold text-3xl font-poppins">
            {{cardInfo?.dashboardInstitutionRecordsVM?.totalRecords || 0 | commaDelimiter}}
          </p>
        </div>
      </div>
      <div class="bg-white">
        <div class="p-6">
          <div class="border-b mb-2 flex justify-between items-center" *ngFor="let unit of cardInfo?.dashboardInstitutionRecordsVM?.topDegreeTypeRecordsVMs">
            <div>
                <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
                  {{unit?.degreeTypeName}}
                </p>
                <p class="mb-4 font-medium text-sm font-inter text-failedNormal">
                  {{unit?.noOfRecords}}
                </p>
            </div>
            <!-- <div class="flex gap-1 items-center">
                <div class="bg-lightGray rounded-full h-2 w-2"></div>
                <p class="font-medium text-sm font-inter text-failedNormal">
                0
                </p>
            </div> -->
          </div>
          
          <!-- <div class="flex justify-between items-center">
            <div>
                <p class="font-normal text-sm font-inter text-lightGray pb-[2px]">
                Organisation
                </p>
                <p class="mb-4 font-medium text-sm font-inter text-failedNormal">
                42
                </p>
            </div>
            <div class="flex gap-1 items-center">
                <img src="../../../../assets/images/icons/arrow_up.svg" alt="arrow_up">
                <p class="font-medium text-sm font-inter text-successNormal">
                3
                </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="permissionList?.includes('INSTITUTION_DASHBOARD') || superAdminRole === 'Super Admin' || superAdminRole === 'undefined'"  class="p-6 mb-6 bg-white border rounded-lg">
    <div class="flex justify-between">
        <h4 class="font-inter text-lg text-darkGray font-medium mb-2">
        Revenue Vs Request Overview
        </h4>
        <div class="inline-flex rounded-md shadow-sm mb-6" role="group">
            <button
            routerLink="/institution/transactions"
            type="button"
            class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
            >
            View report
            </button>
        </div>
    </div>
    <div class="overflow-x-auto hide-scrollbar mb-6">
      <div class="inline-flex rounded-md shadow-sm  bg-white" role="group">
        <button (click)="changeRevenueRange(0)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          All Time
        </button>
        <button (click)="changeRevenueRange(4)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          12 month
        </button>
        <button (click)="changeRevenueRange(3)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          30 days
        </button>
        <button (click)="changeRevenueRange(2)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          7 days
        </button>
        <button (click)="changeRevenueRange(1)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          24 hours
        </button>
        <button (click)="changeRevenueRange(5)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          Custom date
        </button>
      </div>
    </div>
    <div class="flex justify-end items-center mb-4 gap-3">
      <div class="flex items-center gap-2">
        <span class="w-3 h-3 rounded-full bg-primaryBlue">&nbsp;</span>
        <p class="font-normal font-nunito text-lightGray text-sm">Graduate</p>
      </div>
      <div class="flex items-center gap-2">
        <span class="w-3 h-3 rounded-full bg-[#92BAF6]">&nbsp;</span>
        <p class="font-normal font-nunito text-lightGray text-sm">
          Organization
        </p>
      </div>
      <!-- <div class="flex items-center gap-2">
        <span class="w-3 h-3 rounded-full bg-[#FDB022]">&nbsp;</span>
        <p class="font-normal font-nunito text-lightGray text-sm">
          Others
        </p>
      </div> -->
    </div>
    <div>
      <!-- <canvas id="request"></canvas> -->
      <app-revenue-chart [revenueChartData]="revenueAnalysisData"></app-revenue-chart>
    </div>
  </div>

  <div *ngIf="permissionList?.includes('INSTITUTION_DASHBOARD') || superAdminRole === 'Super Admin' || superAdminRole === 'undefined'"  class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="border-[1.5px] rounded-md p-6 bg-[#FCFCFD]">
      <p class="text-darkGray font-medium text-lg font-inter pb-5 border-b mb-2">
        Revenue Analysis
      </p>
      <div class="flex md:flex-row flex-col gap-5 mb-4">
        <div>
          <p class="font-nunito font-normal text-lightGray text-sm pb-1">
            Total Request
          </p>
          <p class="font-inter font-medium text-sm text-failedNormal">
            {{revenueAnalysisData?.totalRequests || 0 | commaDelimiter}}
          </p>
        </div>
        <div class=" md:w-8/12 h-8/12">
          <!-- <canvas id="pieData"></canvas> -->
          <app-revenue-pie-chart [revenueAnalysisData]="revenueAnalysisData"></app-revenue-pie-chart>
        </div>
      </div>
      <div>
        <div>
          <div class="flex items-center justify-between mb-4 border-b pb-2">
            <div
              class="relative before:absolute before:content-[''] before:w-2 before:h-[95%] before:my-auto before:rounded-3xl before:mr-4 before:top-0 before:left-0 before:bg-[#2ED3B7] mb-3">
              <div class="ml-4">
                <p class="font-nunito font-normal text-lightGray text-sm pb-1">
                  Completed Request
                </p>
                <p class="font-inter font-medium text-sm text-failedNormal">
                  {{revenueAnalysisData?.completedRequests }}
                </p>
              </div>
            </div>
            <!-- <p class="font-inter font-medium text-sm text-failedNormal">{{isWhatPercentOf(revenueAnalysisData?.totalRevenueGenerated, revenueAnalysisData?.revenueFromTranscripts)}}</p> -->
          </div>
          <div class="flex items-center justify-between mb-4 border-b pb-2">
            <div
              class="relative before:absolute before:content-[''] before:w-2 before:h-[95%] before:my-auto before:rounded-3xl before:mr-4 before:top-0 before:left-0 before:bg-[#FEC84B] mb-3">
              <div class="ml-4">
                <p class="font-nunito font-normal text-lightGray text-sm pb-1">
                  Processing Request
                </p>
                <p class="font-inter font-medium text-sm text-failedNormal">
                  {{revenueAnalysisData?.processingRequests || 0}}
                </p>
              </div>
            </div>
            <!-- <p class="font-inter font-medium text-sm text-failedNormal">45%</p> -->
          </div>
          <div class="flex items-center justify-between">
            <div
              class="relative before:absolute before:content-[''] before:w-2 before:h-[95%] before:my-auto before:rounded-3xl before:mr-4 before:top-0 before:left-0 before:bg-[#4086EF] mb-3">
              <div class="ml-4">
                <p class="font-nunito font-normal text-lightGray text-sm pb-1">
                  Pending Request
                </p>
                <p class="font-inter font-medium text-sm text-failedNormal">
                  {{revenueAnalysisData?.pendingRequests || 0 }}
                </p>
              </div>
            </div>
            <!-- <p class="font-inter font-medium text-sm text-failedNormal">45%</p> -->
          </div>
        </div>
      </div>

      <div></div>
    </div>
    <div class="md:col-span-2 border rounded-md p-6">
      <div class="flex justify-between items-center">
        <h4 class="font-inter text-lg text-darkGray font-medium mb-2">
          Top Request by Organizations
        </h4>
        <div class="inline-flex rounded-md shadow-sm mb-6" role="group">
          <button
          routerLink="/institution/requests/organization"
            type="button"
            class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 "
          >
            View Details
          </button>
        </div>
      </div>

      <div class="w-full  h-full">
        <!-- <canvas role="img" #distributionChart style="height: 500px; width: 100%; " >
          {{ distributionChart }}
        </canvas> -->
        <!-- <canvas id="consentData"></canvas> -->
        <app-top-institution-chart [topInstitutionRequests]="topInstitutionRequestData"></app-top-institution-chart>
      </div>
    </div>
  </div>

  <div [hidden]="permissionList?.includes('INSTITUTION_DASHBOARD') || superAdminRole === 'Super Admin' || superAdminRole === 'undefined'">
    <app-request-empty-state
    
     [dataStatus]="'You do not have permission to view data on this page'"></app-request-empty-state>
  </div>
</div>
