<header class=" w-full fixed z-20 top-0 left-0 ">
  <div class="bg-white p-2">
    <div class="max-w-screen-xl   mx-auto px-4 py-2 flex items-center justify-between">
      <!-- Logo -->
      <div class="text-2xl font-semibold">
        <a href="/"><img src="assets/images/icons/logo.svg" alt="logo"></a>
      </div>
      <!-- Navigation links -->
      <nav class="hidden md:flex items-center space-x-6">
        <div class="flex space-x-4">
          <a routerLink="/verification-services" class="font-inter font-medium text-base text-lightGray">
            Verification Services
          </a>
          <a routerLink="/transcript-services" class="font-inter font-medium text-base text-lightGray">
            Transcript Services
          </a>
          <a href="#" class="font-inter font-medium text-base text-lightGray">
            Partners & Programs
          </a>
        </div>

        <div class="dropdown">
          <label tabindex="0" class="font-inter font-medium text-base text-lightGray inline-flex items-center space-x-2">
            <p>Company</p>
            <img src="assets/images/icons/dropdown.svg" alt="dropdown">
          </label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52">
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/career">Career</a></li>
            <li><a routerLink="/contacts">Contacts</a></li>
            <li><a routerLink="/faqs">FAQs</a></li>
          </ul>
        </div>
         <img src="assets/images/icons/questionMark.svg" alt="help">
      </nav>
      <!-- Sign in button -->
      <app-button
      (buttonClick)="openLogin()"
      [overRideButtonClass]="true"
      [customClass]="'font-inter font-medium text-base rounded-md bg-buttonBlue text-white p-2'">
          Sign In
      </app-button>
    </div>
  </div>
</header>
