
<header class="w-full fixed z-20 top-0 left-0">
  <div class="bg-white p-2">
    <div class="max-w-screen-xl mx-auto px-4 py-2 flex items-center justify-between">
      <!-- Logo -->
      <div class="text-2xl font-semibold">
        <a href="/"><img src="assets/images/main/vac-logo.png" alt="logo"></a>
      </div>
      <!-- Navigation links -->
      <nav class="hidden md:flex items-center space-x-6">
        <div class="flex space-x-4">
          <a routerLink="/about" class="font-inter font-medium text-base text-lightGray">
            About Us
          </a>
          <div class="dropdown">
            <label tabindex="0" class="font-inter font-medium text-base text-lightGray inline-flex items-center space-x-2">
              <p>Services</p>
              <img src="assets/images/icons/dropdown.svg" alt="dropdown">
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52">
              <li><a routerLink="/verification-services">Verification Services</a></li>
              <li><a routerLink="/transcript-services">Transcript Services</a></li>
            </ul>
          </div>
          <a routerLink="/contacts" class="font-inter font-medium text-base text-lightGray">
            Contact Us
          </a>
          <a routerLink="/faqs" class="font-inter font-medium text-base text-lightGray">
            FAQs
          </a>
          
        </div>

      </nav>
      <div class="flex gap-3 items-center">
        <!-- <app-button
        (buttonClick)="openLogin()"
        [overRideButtonClass]="true"
        [customClass]="'font-inter text-[#0D47A1] font-medium lg:text-base text-sm rounded-md bg-[#F5F9FF]  lg:p-2 p-1'">
            Sign In
        </app-button>
        <app-button
        (buttonClick)="openCreateAccount()"
        [overRideButtonClass]="true"
        [customClass]="'font-inter font-medium lg:text-base text-sm rounded-md bg-primaryBlue text-white lg:p-2 p-1'">
            Sign Up
        </app-button>
        <div class="flex md:hidden">
          <button (click)="mobileMenuOpen = !mobileMenuOpen" class="focus:outline-none">
            <img *ngIf="!mobileMenuOpen" src="assets/images/icons/menu.svg" alt="Menu">
            <img *ngIf="mobileMenuOpen" src="assets/images/icons/x.svg" alt="Close">
          </button>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="mobileMenuOpen" class="md:hidden fixed inset-x-0 top-16 z-10 bg-white shadow-lg w-full">
    <nav class="flex flex-col space-y-4 p-4">
      <a routerLink="/about" class="font-inter font-medium text-base text-lightGray">
       About Us
      </a>
      <div  class="gap-10 flex font-inter font-medium text-base text-lightGray">
        <p>Services</p>
        <img src="assets/images/icons/dropdown.svg" alt="dropdown" (click)="showOthers()">
      </div>
      <div class="flex flex-col gap-3" *ngIf="showServices">
        
        <a class="pt-2 font-inter font-medium text-base text-lightGray"  routerLink="/verification-services">Verification Services</a>
        <a class="pt-2 font-inter font-medium text-base text-lightGray" routerLink="/transcript-services">Transcript Services</a>

      </div>
      <a routerLink="/contacts" class="font-inter font-medium text-base text-lightGray">
        Contact Us
      </a>
      <a routerLink="/faqs" class="font-inter font-medium text-base text-lightGray">
        FAQs
      </a>
    </nav>
  </div>
</header>

