<div class="bg-[#1059C6] py-16">
    <div class="container mx-auto text-center px-4 sm:px-6">
      <!-- <h2 class="font-inter font-semibold text-base text-white mb-3">Competitive Edge</h2> -->
      <h3 class="font-inter text-3xl text-white font-semibold mb-8">Why Use VAC Solution</h3>
  
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-12">
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/shield.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">Secure & Confidential</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">Secure Hash Algorithm (SHA-256) encryption.</p>
          </div>
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/global.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">Real-time Verification</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">Access to real-time verification of academic and professional credentials.</p>
          </div>
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/resources.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">Save Resources</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">No chasing of enquiries through phone calls, emails, letters.</p>
          </div>
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/verification.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">On-demand Verifications</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">24 hours a day, 365 days a year</p>
          </div>
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/speed.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">Speed & Efficiency</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">Fast responses and automation via direct integration</p>
          </div>
          <div class="flex flex-col items-center">
              <img src="assets/images/icons/trail.svg" alt="shield" class="items-center">
              <p class="font-inter font-medium text-xl text-white mt-3">Full Audit Trail</p>
              <p class="font-inter font-normal text-base text-white mt-3 w-full sm:w-3/5">Electronic records for each individual transaction</p>
          </div>
      </div>
    </div>
  </div>