<div class="px-5 md:px-8 mt-6 pb-20">
    <div class="border border-solid border-[#EAECF0] rounded-xl p-5 md:p-8 divide-y divide-[#EAECF0]">
        <div class="grid xl:grid-cols-[300px_1fr] 2xl:grid-cols-[400px_1fr] lg:gap-10 2xl:gap-20">
            <div>
                <h3 class="font-medium text-sm text-[#344054]">Institution Details</h3>
                <p class="text-sm text-[#667085]">
                    Select the institution you wish to request certificate or transcript from
                </p>
            </div>

            <div class="grid gap-5">
                <div>
                    <p class="input_label label_asterisk">Institution Body</p>
                    <select name="" id=""></select>
                </div>
            </div>
        </div>
    </div>
</div>