<main class="py-10 sm:py-20 bg-white">
  <div class="mb-5 sm:mb-10 px-5 sm:px-52">
    <p class="font-poppins text-left text-[#101828] font-semibold text-2xl sm:text-3xl">Who we are</p>
    <p class="text-left font-nunito font-normal text-[#667085] my-3 sm:my-5 w-full sm:w-96">
      Welcome to VAC, the ultimate solution for credential verification.
    </p>
  </div>

  <div class="flex gap-4 flex-col md:flex-row px-5 sm:px-52">
    <div class="w-full md:w-1/2 mb-8 sm:mb-0">
      <div class="w-full">
        <p class="text-justify font-nunito font-normal text-[#667085] my-3 sm:my-5 ">
          VAC – Verification and Authentication of Certificates – stands as a groundbreaking digital solution meticulously crafted to revolutionize the certificate verification landscape. This innovative platform, born out of the digital transformation initiatives of the Nigerian Security Printing and Minting (NSPM) Plc, is a testament to our commitment to global best practices and the delivery of cutting-edge security solutions. 
        </p>

        <p class="text-justify font-nunito font-normal text-[#667085] my-3 sm:my-5  mt-2 sm:mt-3">
          Our enhanced web-based verification system employs advanced technology and cutting-edge algorithms, simplifying and automating the certificate verification process while seamlessly managing and facilitating transcript requests. 
        </p>
        <p class="text-justify font-nunito font-normal text-[#667085] my-3 sm:my-5  mt-2 sm:mt-3">
          Built on the foundation of state-of-the-art technology and robust security measures, VAC is designed to establish trust, fortify the integrity of certificates and ensuring the highest standards of security in today's digital world. Our intuitive digital solution guarantees a thorough and efficient authentication process by leveraging a combination of automated checks and procedures, providing real-time verification for academic degrees and professional certifications. 
        </p>
        <p class="text-justify font-nunito font-normal text-[#667085] my-3 sm:my-5  mt-2 sm:mt-3">
          The Verification and Authentication of Certificates (VAC) solution is your go-to comprehensive and reliable platform for verifying certificates. With advanced technology, robust security measures, and user-friendly interfaces, we are dedicated to ensuring accurate and efficient verification processes, building trust, and upholding the integrity of certificates in today's dynamic digital environment. 

Choose VAC for a seamless and trustworthy credential verification experience.
        </p>
      </div>

      <div class="flex flex-wrap gap-3">
        <div class="mb-6 sm:mb-0">
            <img src="assets/images/icons/eye.svg" alt="">
            <p class="font-inter text-left text-[#101828] font-semibold text-lg sm:text-xl mt-2 sm:mt-3">Our Vision</p>
            <p class="text-left font-nunito font-normal text-[#667085] my-3 sm:my-5 w-full sm:w-56 mt-2 sm:mt-3">
              To provide a sustainable data-driven digital solution that is customer-centric built on innovation and trust.
            </p>
        </div>
        <div>
            <img src="assets/images/icons/flag.svg" alt="">
            <p class="font-inter text-left text-[#101828] font-semibold text-lg sm:text-xl mt-2 sm:mt-3">Our Mission</p>
            <p class="text-left font-nunito font-normal text-[#667085] my-3 sm:my-5 w-full sm:w-56 mt-2 sm:mt-3">
              To drive teamwork, innovation, and efficiency through collective intelligence in a democratized data ecosystem of trust.
            </p>
        </div>

      </div>
    </div>
    <div class="w-full md:w-1/2 rounded-lg">
        <img src="assets/images/icons/whoweare.svg" alt="" class="w-fit">
    </div>
  </div>
</main>
