<div class="bg-footerbg py-16">
    <div class="border-b-1.5 border-testimonialtxt w-full md:w-3/4 mx-auto ">
        <div class="container mx-auto text-center px-4 md:w-3/5">
            <h3 class="font-poppins md:text-3xl text-lg text-white font-semibold mb-8">
                Need your academic transcript, certificate or require an immediate verification?
            </h3>
            <p class="font-nunito font-normal text-xl text-footergray" routerLink="/faqs">Find out more about our services in the FAQ section</p>
            <div class="inline-block mt-6 mb-12">
                <div class="flex gap-3">
                    <!-- <app-button
                    routerLink="/faqs"
                    [overRideButtonClass]="true"
                    customClass="font-inter font-medium text-base text-white rounded-md bg-buttonBlue items-center p-2">
                    Get started
                    </app-button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 w-full md:w-3/4 p-6 mx-auto flex flex-col md:flex-row justify-between border-b-1.5 border-testimonialtxt">
      <div class="mb-8">
        <img src="assets/images/main/vac-logo-transparent.png" alt="Vac Solution">
        <p class="font-nunito font-normal text-base text-footergray mt-6 w-full md:w-1/2">
            Your Partner in Secured Verification & Authentication of Certificates Solution
        </p>
        <div class="mt-6 flex gap-6">
            <a href="http://" class="font-inter font-medium text-base text-[#EAECF0]">Terms and Conditions</a>
            <a href="http://" class="font-inter font-medium text-base text-[#EAECF0]">Privacy Policy</a>
        </div>
      </div>
      <div>
        <p class="font-inter font-medium text-base text-[#EAECF0] mb-6">Get the App</p>
        <a href="http://" >
            <img src="assets/images/icons/appStore_badge.svg" alt="Apple Store" class="mb-3">
        </a>
        <a href="http://">
            <img src="/assets/images/icons/playStore_badge.svg" alt="Play Store">
        </a>
      </div>
    </div>

    <div class="mt-6 w-full md:w-3/4 p-6 mx-auto flex flex-col md:flex-row justify-between ">
      <div>
        <p class="font-nunito font-normal text-base text-[#98A2B3]">
         &copy; 2023 VAC Solutions. All rights reserved.
        </p>
      </div>
      <div class="flex space-x-5">
        <a href="https://twitter.com/bevacsure?s=21&t=PZ3i1ayGP4wtCWdetiJ7nw" target="_blank">
            <img title="Twitter" class="w-6 h-6" src="assets/images/icons/twitter.svg" alt="twitter">
        </a>
        <a href="https://www.linkedin.com/company/bevacsure/" target="_blank">
            <img title="LinkedIn" class="w-6 h-6" src="assets/images/icons/linkedin.svg" alt="linkedIn">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100092691198332&mibextid=LQQJ4d" target="_blank">
            <img title="Facebook" class="w-6 h-6" src="assets/images/icons/facebook.svg" alt="fb">
        </a>
        <a href="https://instagram.com/bevacsure?igshid=Y2IzZGU1MTFhOQ==" target="_blank">
            <img title="Instagram" class="w-6 h-6" src="assets/images/icons/instagram.svg" alt="ig">
        </a>
      </div>
    </div>
</div>
