<div class="py-28 px-8 w-11/12 mx-auto" *ngIf="!showOTPPage">

    <div>
      <h4 class='font-semibold font-poppins text-3xl pb-3'>
        Register As a graduate
      </h4>
      <p class='leading-6 text-base pb-8 text-lightGray font-nunito'>
        It takes less than 10 minutes to register
      </p>
      <div class='flex flex-wrap  items-center pb-10 cursor-pointer  '>
        <span class='rounded mr-3 px-3 py-1 bg-[#E7F6F7]'>
          <p class='text-sm font-semibold text-[#2F4662]'>
            1 of 2
          </p>
        </span>
        <p class='font-bold text-base  text-[#2F4662] '>
          All fields with '<span class="text-danger">*</span>' are mandatory.
        </p>
      </div>
    </div>
  
    <form [formGroup]="institutionRegForm" class="w-full">
      <ng-container>
       

        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
          <div class="w-full md:w-1/2 px-3  md:mb-0" >
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">First Name
             <span class="text-danger">*</span> </label>
            <app-input [formGrp]="institutionRegForm" formCtrlName="FirstName" [type]="'text'" [class]="
                      'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                    " placeholder="Enter first name" [name]="'First Name'"></app-input>
          </div>
          <div class="w-full md:w-1/2 px-3  md:mb-0" >
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Last Name
              <span class="text-danger">*</span> </label>
           
                    <app-input [formGrp]="institutionRegForm" formCtrlName="LastName" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter institution name" [name]="'Last Name'"></app-input>
          </div>
        </div>

        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
          <div class="w-full md:w-1/2 px-3  md:mb-0" >
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Email
             <span class="text-danger">*</span> </label>
            <app-input [formGrp]="institutionRegForm" formCtrlName="Email" [type]="'text'" [class]="
                      'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                    " placeholder="Enter email address" [name]="'Email'"></app-input>
          </div>
          <div class="w-full md:w-1/2 px-3  md:mb-0" >
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Phone number
              <span class="text-danger">*</span> </label>
              <div class="w-full mt-2">
                <ngx-intl-tel-input
                [cssClass]="'phone-number-field h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [phoneValidation]="true"
                [selectedCountryISO]="CountryISO.Nigeria"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="PhoneNumber"
                aria-autocomplete="phoneno"
                formControlName="PhoneNumber"
                type="tel"
                            >
                            </ngx-intl-tel-input>
              </div>
            <small class="text-red-500" *ngIf="institutionRegForm.controls['PhoneNumber'].touched && institutionRegForm.controls['PhoneNumber'].invalid">
              Invalid phone number 
            </small>
                    <!-- <app-input [formGrp]="institutionRegForm" formCtrlName="PhoneNumber" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter phone number" [name]="'Phone number'"></app-input> -->
          </div>
        </div>

        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
         
            <div class="w-full md:w-1/2 px-3  md:mb-0">
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Gender
                <span class="text-danger">*</span> </label>
                <select name="" id="" formControlName="Gender"
                class="mt-2 select h-[52px] w-full  bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none">
                <option value="">Select </option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['Gender'].touched && institutionRegForm.controls['Gender'].invalid">
                Gender is required
              </small>            
            </div>
            <div class="w-full md:w-1/2 px-3  md:mb-0" >
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Country <span
                  class="text-danger">*</span> </label>
                  <ng-select class="custom-ng-dropdown" 
                  formControlName="Country" 
                  [selectOnTab]="true" 
                  placeholder="Select Country"
                  (change)="onCountryChange($event)"
                  >
              <ng-option  *ngFor="let country of countries" [value]="country | json">{{country.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['Country'].touched && institutionRegForm.controls['Country'].invalid">
                Country is required
              </small>
            </div>
  
          </div>
  
          <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
            <div class="w-full md:w-1/2 px-3  md:mb-0" >
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">State <span
                  class="text-danger">*</span> </label>
                  <ng-select class="custom-ng-dropdown" 
                  formControlName="State" 
                  [selectOnTab]="true" 
                  placeholder="Select State"
                  (change)="onStateChange($event)"
                  >
              <ng-option *ngFor="let state of states" [value]="state | json">{{state.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['State'].touched && institutionRegForm.controls['State'].invalid">
                State is required
              </small>
            </div>
            <div class="w-full md:w-1/2 px-3  md:mb-0">
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">City
                <span class="text-danger">*</span> </label>
                <ng-select class="custom-ng-dropdown" 
                formControlName="City" 
                [selectOnTab]="true" 
                placeholder="Select City"
                (change)="onCityChange($event)"
                >
            <ng-option *ngFor="let lga of cities" [value]="lga | json">{{lga.name}}</ng-option>
            </ng-select>
            <small class="text-red-500" *ngIf="institutionRegForm.controls['City'].touched && institutionRegForm.controls['City'].invalid">
              City is required
            </small>
            </div>
          </div>

          <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
          
          <div class="w-full md:w-1/2 px-3  md:mb-0">
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">
              Address <span class="text-danger">*</span> </label>
            <app-input [formGrp]="institutionRegForm" formCtrlName="Address" [type]="'text'" [class]="
                      'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                    " placeholder="Enter address" [name]="'Address'"></app-input>
                    
          </div>
          <div class="w-full md:w-1/2 px-3  md:mb-0">
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Zip code <span
                class="text-danger">*</span> </label>
            <app-input [formGrp]="institutionRegForm" formCtrlName="ZipCode" [type]="'number'" [class]="
                      'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                    " placeholder="Enter zip code" [name]="'Zipcode'"></app-input>
                    
          </div>

        </div>

        

        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
          <div class="w-full md:w-1/2 px-3  md:mb-0">
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">ID Type <span
                class="text-danger">*</span> </label>
            <select name="" id="" formControlName="IdType" (change)="validateIdType($event.target)"
              class="mt-2 select h-[52px] w-full  bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none">
              <option value="">Select ID type</option>
              <option value="1">International PassPort </option>
              <option value="2">Driver Licence</option>
              <option value="3">Voters Card</option>
              <option value="4">National Identification Number </option>
             >
            </select>
            <small class="text-red-500" *ngIf="institutionRegForm.controls['IdType'].touched && institutionRegForm.controls['IdType'].invalid">
              Identification type is required
            </small>
          </div>
          <div class="w-full md:w-1/2 px-3  md:mb-0">
            <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">ID number
              <span class="text-danger">*</span> </label>
            <app-input [formGrp]="institutionRegForm" formCtrlName="IdNumber" [type]="'text'" [class]="
                      'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                    " placeholder="Enter ID Number" [name]="'ID Number'"></app-input>
          </div>
        </div>

   
        <div>
          <p class="font-medium mb-1 mt-2  text-sm text-failedNormal ">
            Attach Supporting Document <span class="text-danger">*</span>
          </p>
          <p class="font-nunito font-normal text-xs text-failedNormal mb-[6px]">Document such as selected ID type,
            Birth certificate</p>
          <div
            class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
            <div>
              <label for="file1">
                <img src="assets/images/icons/upload_icon.svg" alt="uploadIcon"
                  class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                  <p *ngIf="showDefault !== true " class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile}} </p>
                  <ng-container *ngIf="showDefault === true">
                    <p  class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF or
                      JPG
                      (max. 5mb) </p>
                  </ng-container>
              </label>
              <input (change)="handleFileUpload($event)" [accept]="allowedFiled" class="top-0 appearance-none left-0 right-0 opacity-0 bottom-0 absolute w-full h-full" type="file"
                id="file1" />
            </div>
          </div>
          <small class="text-red-500" *ngIf="institutionRegForm.controls['fileList'].touched && institutionRegForm.controls['fileList'].invalid">
            Supporting Document is required
          </small>
          <div *ngFor="let file of selectedFileList; let i = index"
            class="bg-white border rounded-lg p-4 flex justify-between items-center mt-4 mb-3">
            <div class="flex items-center">
              <img src="assets/images/auth/file-pdf.svg" class="mr-4" alt="file ico">
              <div>
                <p class="font-inter font-medium text-sm text-failedNormal">{{file.name}}</p>
                <p class="font-inter font-medium text-sm text-lightGray"> {{file.size | filesize}} </p>
              </div>
            </div>
            <div (click)="deleteFile(i)">
              <img src="assets/images/auth/del-icon.svg" alt="">
            </div>
            <!-- <div class="">
              </div> -->
          </div>
          <p class="font-medium mb-3 mt-2  text-sm text-failedNormal ">
            Institution Attended
          </p>

          <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
            <div class="w-full md:w-1/2 px-3  md:mb-0" *ngIf="institutionBody$ | async as body">
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Institution
                Type
                <span class="text-danger">*</span> </label>
              <ng-select class="custom-ng-dropdown"  (change)="selectInstitutionBody($event)"  [selectOnTab]="true"
                placeholder="Select Institution Type">
                <ng-option *ngFor="let unit of body.data" [value]="unit">{{unit.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['institutionTypeId'].touched && institutionRegForm.controls['institutionTypeId'].invalid">
                Institution Type is required
              </small>
            </div>
            <div class="w-full md:w-1/2 px-3  md:mb-0" >
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Institution
                Body
                <span class="text-danger">*</span> </label>
              <ng-select class="custom-ng-dropdown" (change)="selectInstitutionType($event)"  [selectOnTab]="true"
                placeholder="Select Institution Body">
                <ng-option *ngFor="let unit of institutionBodyList" [value]="unit">{{unit.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['institutionBodyId'].touched && institutionRegForm.controls['institutionBodyId'].invalid">
                Institution Body is required
              </small>
            </div>
          </div>
          <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
            <div class="w-full md:w-1/2 px-3  md:mb-0" >
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Institution
                Sector <span class="text-danger">*</span> </label>
              <ng-select class="custom-ng-dropdown" (change)="selectInstitutionSector($event)"  [selectOnTab]="true"
                placeholder="Select Institution sector">
                <ng-option *ngFor="let unit of institutionSectorList" [value]="unit">{{unit.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['institutionSectorId'].touched && institutionRegForm.controls['institutionSectorId'].invalid">
                Institution Sector is required
              </small>
            </div>
            <div class="w-full md:w-1/2 px-3  md:mb-0" >
              <label for="institutionBody" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Institution
                Name
                <span class="text-danger">*</span> </label>
                      <ng-select class="custom-ng-dropdown"  formControlName="InstitutionName" [selectOnTab]="true"
                placeholder="Select Institution Name">
                <ng-option *ngFor="let unit of institutionList" [value]="unit?.name">{{unit?.name}}</ng-option>
              </ng-select>
              <small class="text-red-500" *ngIf="institutionRegForm.controls['InstitutionName'].touched && institutionRegForm.controls['InstitutionName'].invalid">
                Institution Name is required
              </small>
            </div>
          </div>

          <div class="flex items-center mt-10 mb-4">
            <input id="default-checkbox" type="checkbox" value="" formControlName="consent"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="default-checkbox"
              class="ml-2 text-sm font-medium text-failedNormal dark:text-gray-300 font-inter">I consent that the
              information provided above is true and correct.</label>
          </div>
          <div class="flex items-center mb-4">
            <input id="nspmcheck" type="checkbox" value="" formControlName="nspm"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="nspmcheck"
              class="ml-2 text-sm font-medium text-failedNormal dark:text-gray-300 font-inter">I agree to NSPM terms and
              conditions.</label>
          </div>
          <div class="mb-6">
            <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)" [siteKey]="siteKey">
            </re-captcha>
          </div>
          <div class="mb-6">
            <app-button (buttonClick)="continueCreation()"    [overRideButtonClass]="true"
              customClass="w-40 h-12 rounded-lg font-inter font-medium text-base text-white leading-6 bg-primaryBlue">
              Continue</app-button>
          </div>
          <div class="mb-8">
            <p class="font-nunito font-normal text-sm text-lightGray">Already a registered graduate? <span
                class="cursor-pointer text-primaryBlue font-medium" routerLink="/auth/graduate">Sign In</span> </p>
          </div>
        </div>
      </ng-container>
  
  
  
    </form>
  </div>
  <ng-container *ngIf="showOTPPage">
    <div class="bg-white w-full h-screen  flex justify-center items-center">
      <div class="w-fill md:w-3/5 mx-auto">
        <h4 class="font-semibold font-poppins text-3xl pb-3 text-darkGray">Email verification</h4>
        <p class="leading-6 text-base pb-8 text-lightGray font-nunito mb-8">We’ve sent a unique code to {{institutionRegForm.get("Email")?.value}}
          in order to verify your email address. Please enter the code below.</p>
        <div class="mb-8">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 4 }"></ng-otp-input>
        </div>
        <div class="flex justify-start items-center my-6">
          <p class="font-sans font-semibold text-sm text-[#2F4662]">
            Code will expire in
          </p>
          <div class="mx-2">
            <i class="fa fa-clock text-placeholderText"></i>
          </div>
          <div class="text-asteriskRed bg-[#E7F6F7] font-semibold font-sans text-danger px-3 py-1 rouded">{{timeDisplay}}</div>
        </div>
        <div class="mb-6">
          <app-button (buttonClick)="verifyOTP()" [disabled]="otplength?.length !== 4" [overRideButtonClass]="true"
            customClass="w-40 h-12 rounded-lg font-inter font-medium text-base text-white leading-6 bg-primaryBlue">Verify
          </app-button>
        </div>
        <div class="mb-8">
          <p *ngIf="hideResend === true" class="font-nunito font-normal text-sm text-lightGray">Didnt get the code? <span (click)="resendOTP()"
              class="cursor-pointer text-primaryBlue font-medium">Resend</span> </p>
        </div>
      </div>
    </div>
  </ng-container>
  <label id="myModal" for="messageModal" class="hidden "></label>

  <app-modal [id]="modalId">
    <div class="modal-box bg-white  p-8 w-fit   max-w-5xl">
     
      <div class=" mt-5   w-full" >
        <div class="rounded-lg mb-4">
          <div class="flex flex-col items-center gap-5">
            <img src="assets/images/approval-modal.svg" class="mb-5" alt="">
            <p class="font-medium font-inter text-base text-headerGray">
                Email Verified
            </p>            
            <p class="font-normal text-center font-inter text-base text-lightGray">
                Your email address verification was successful. <br> Please await the approval email
            </p>

          </div>
        </div>

        <div class="flex justify-center items-center">

          <app-button (buttonClick)="continue()"   [overRideButtonClass]="true"
            customClass="w-32 h-12 rounded-lg font-normal text-base text-white leading-6 bg-primaryBlue">Continue
          </app-button>
        </div>

      </div>
     
    </div>
  </app-modal>
  