<div class="border-1.5 rounded-t-md">
    <h3 class="py-4  border-b-1.5 px-6 font-sans font-bold text-base text-black">Two Factor Authentication</h3>
    <div class="p-6 ">
        <div class="border-b">
            <div class="lg:w-10/12 ">
                <div class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium text-sm text-failedNormal" for="inline-full-name">
                           Enable Two Factor
                        </label>
                    </div>
                    <div class="flex items-center gap-3">
                        <input [(ngModel)]="twoFactorEnabled" (change)="onTwoFactorToggle($event.target)" type="checkbox" class="toggle toggle-md" />
                        <label *ngIf="!twoFactorEnabled" class=" font-inter font-medium text-sm text-failedNormal" for="inline-full-name">
                           Disabled
                        </label>
                        <label *ngIf="twoFactorEnabled" class=" font-inter font-medium text-sm text-failedNormal" for="inline-full-name">
                           Enabled
                        </label>
                    </div>
                </div>
                <div *ngIf="twoFactorEnabled" class="flex gap-6 mb-9">
                    <div class="w-full md:w-1/4">
                        <label class=" font-inter font-medium text-sm text-failedNormal" for="inline-full-name">
                           Email Address
                        </label>
                    </div>
                    <div class="w-full p-3 flex items-center justify-between border border-buttonBlue rounded-lg bg-tabBlue">
                        <p class="font-inter font-medium text-base text-failedNormal">Use registered email address ({{graduateData?.email}}) </p>
                        <input [(ngModel)]="emailEnabled"  type="checkbox" checked class="checkbox checkbox-sm" /> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="flex justify-end items-center gap-4 mt-4">
            <app-button
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
            >Cancel</app-button>
            <app-button
            (buttonClick)="openOtpModal()"
            [disabled]="!emailEnabled"
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Save</app-button>
        </div>
    </div>
</div>


<app-modal [id]="otpModal">
    <div class="lg:rounded-xl p-6 bg-white hide-scrollbar modal-box">
        <div>
            <div class="grid grid-rows-2 justify-items-center">
                <h3 class="font-inter font-medium text-2xl text-discountBlue">One Time Password</h3>
                <p class="text-center lg:w-96 font-inter font-normal text-sm text-failedNormal">
                    An OTP has been sent to {{graduateData.email}} to complete your setup. 
                </p>
            </div>
            <div class="flex items-center justify-center mt-8">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }"></ng-otp-input>

            </div>

            <div class="text-center mt-4">
                <p  class="text-[#2F4662] font-semibold text-base font-inter">Code would expire in 
                    <span class="bg-[#0EA5AE] bg-opacity-20 rounded text-danger font-inter font-semibold text-base">{{timeDisplay}}</span>
                </p>
                <!-- <p *ngIf="timerExpired" class="text-[#2F4662]">OTP expired</p> -->
            </div>

            <div class="flex justify-center mt-16">
                <button
                    class="bg-buttonBlue rounded-lg  hover:bg-buttonBlue text-white text-base font-medium font-inter py-2 px-4 w-56 disabled:opacity-50"
                    [disabled]="otplength?.length !== 6"
                    (click)="verifyOtp()"
                >
                    Verify
                </button>
            </div>

            <div class="flex justify-center mt-16">
                <p *ngIf="hideResend === true" class="text-center w-96 font-inter font-normal text-sm text-failedNormal">Didn't get the code?
                    <span class="font-medium text-discountBlue cursor-pointer" (click)="resendOTP()">Resend</span>
                </p>
            </div>

        </div>
    </div>
</app-modal>

<app-modal [id]="successModal">
    <div class="lg:rounded-xl bg-white hide-scrollbar h-auto w-auto lg:p-2 p-6 modal-box">
        <div class="grid grid-rows-2 justify-items-center mt-8">
            <img src="assets/images/icons/blueSuccess.svg" alt="blueSuccess">
            <h3 class="font-inter font-medium text-2xl text-discountBlue mt-8">Two Factor Successful</h3>
            <p class="text-center lg:w-96 font-inter font-normal text-sm text-failedNormal mt-8">
                Two factor authentication setup was successful.
            </p>
        </div>
        <div class="flex justify-center mt-8 mb-8">
            <button
                class="bg-buttonBlue rounded-lg  hover:bg-buttonBlue text-white text-base font-medium font-inter py-2 px-4 w-56 "
                (click)="closeSuccess()"
            >
                Continue
            </button>
        </div>
    </div>
</app-modal>



<!-- <app-modal [id]="changesConfirmed">
    <div class="toast toast-center">
        <div class="alert alert-success flex justify-between items-center">
            <div class="font-avenir font-meduim lg:text-base text-xs">
                <span>Your changes have been saved successfully!</span>
            </div>
            <label [for]="changesConfirmed">
                <img src="assets/images/icons/x.svg" alt="close_toast">
            </label>
        </div>
    </div>
</app-modal> -->