<div class="bg-white p-6">
    <!--Header-->
    <div class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img [routerLink]="'/organization/transaction'" src="assets/images/icons/home.svg" alt="home-icon">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg" alt="forward-arrow">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Transaction
            </p>
        </div>

    </div>

    <div class="px-5">
        <div class="items-center my-2">
            <h4 class="font-medium font-poppins lg:text-4xl text-xl  text-darkGray my-3">
                Payment Plan
            </h4>
            <p class="font-inter font-normal text-base text-tinyBlack">
                Subscribe to a payment plan below
            </p>
        </div>
    </div>

    <div class="mt-3 p-7 rounded-xl bg-white border border-solid border-[#EFF0F6] grid lg:grid-cols-4 gap-6">
        <div class="rounded-lg border">
                <div class="bg-lightBlue rounded-lg">
                    <div class="p-6 items-center gap-3">
                        <div>
                            <p class="font-nunito font-normal text-base text-failedNormal mb-4">Simple Plan</p>
                            <p class="text-grayScaleAsh font-semibold text-3xl font-avenir">₦10,000</p>
                            <p class="font-nunito font-normal text-xs text-failedNormal mb-4">Minimum Deposit</p>
                        </div>
                        <div>
                            <app-button
                                [overRideButtonClass]="true"
                                [customClass]="'border rounded-lg border-borderlightBlue bg-white text-failedNormal font-inter font-medium text-sm h-8 w-44 items-center hover:text-white hover:bg-buttonBlue'"
                                [routerLink]="'/organization/transactions/make-payment/2'">
                            Verify</app-button>
                        </div>
                    </div> 
                </div>
        </div>

        <div class="rounded-lg border">
                <div class="bg-lightBlue rounded-lg">
                    <div class="p-6 items-center gap-3">
                        <div>
                            <div class="flex justify-between items-center">
                                <p class="font-nunito font-normal text-base text-failedNormal mb-4">Simple Plan</p>
                                <div class="bg-discountBg rounded-md items-center h-fit w-fit p-2 mb-3">
                                    <p class="font-inter font-normal text-sm text-discountBlue">5% off</p>
                                </div>
                            </div>
                            <p class="text-grayScaleAsh font-semibold text-3xl font-avenir">₦10,000</p>
                            <p class="font-nunito font-normal text-xs text-failedNormal mb-4">Minimum Deposit</p>
                        </div>
                        <div>
                            <app-button
                                [overRideButtonClass]="true"
                                [customClass]="'border rounded-lg border-borderlightBlue bg-white text-failedNormal font-inter font-medium text-sm h-8 w-44 items-center hover:text-white hover:bg-buttonBlue'"
                                [routerLink]="'/organization/transactions/make-payment/2'">
                            Verify</app-button>
                        </div>
                    </div> 
                </div>
        </div>

        <div class="rounded-lg border">
                <div class="bg-lightBlue rounded-lg">
                    <div class="p-6 items-center gap-3">
                        <div>
                            <div class="flex justify-between items-center">
                                <p class="font-nunito font-normal text-base text-failedNormal mb-4">Simple Plan</p>
                                <div class="bg-discountBg rounded-md items-center h-fit w-fit p-2 mb-3">
                                    <p class="font-inter font-normal text-sm text-discountBlue">10% off</p>
                                </div>
                            </div>
                            <p class="text-grayScaleAsh font-semibold text-3xl font-avenir">₦10,000</p>
                            <p class="font-nunito font-normal text-xs text-failedNormal mb-4">Minimum Deposit</p>
                        </div>
                        <div>
                            <app-button
                                [overRideButtonClass]="true"
                                [customClass]="'border rounded-lg border-borderlightBlue bg-white text-failedNormal font-inter font-medium text-sm h-8 w-44 items-center hover:text-white hover:bg-buttonBlue'"
                                [routerLink]="'/organization/transactions/make-payment/2'">
                            Verify</app-button>
                        </div>
                    </div> 
                </div>
        </div>

        <div class="rounded-lg border">
                <div class="bg-lightBlue rounded-lg">
                    <div class="p-6 items-center gap-3">
                        <div>
                            <div class="flex justify-between items-center">
                                <p class="font-nunito font-normal text-base text-failedNormal mb-4">Simple Plan</p>
                                <div class="bg-discountBg rounded-md items-center h-fit w-fit p-2 mb-3">
                                    <p class="font-inter font-normal text-sm text-discountBlue">15% off</p>
                                </div>
                            </div>
                            <p class="text-grayScaleAsh font-semibold text-3xl font-avenir">₦10,000</p>
                            <p class="font-nunito font-normal text-xs text-failedNormal mb-4">Minimum Deposit</p>
                        </div>
                        <div>
                            <app-button
                                [overRideButtonClass]="true"
                                [customClass]="'border rounded-lg border-borderlightBlue bg-white text-failedNormal font-inter font-medium text-sm h-8 w-44 items-center hover:text-white hover:bg-buttonBlue'"
                                [routerLink]="'/organization/transactions/make-payment/2'">
                            Verify</app-button>
                        </div>
                    </div> 
                </div>
        </div>
    </div>
</div>