<div class="" [formGroup]="formGrp">
  <textarea [id]="id" [placeholder]="Issuer" [class]="class" [required]="required" [readonly]="readonly"
    [formControlName]="formCtrlName" [ngClass]="{ 'is-invalid': invalid }" [value]="value" [name]="name"
    [maxLength]="maxLength" [minLength]="minLength"></textarea>
</div>
  
  <div>
    <small class="text-red-500 mt-1"
      [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
      *ngIf="formGrp.controls[formCtrlName].errors?.['required']">
      {{ name }} is required
    </small>
  
    <small class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['minlength']">
      {{ name }} should be at least {{formGrp.controls[formCtrlName].errors?.['minlength'].requiredLength}} characters
    </small>
    <small class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['maxlength']">
      {{ name }} should not be more than {{formGrp.controls[formCtrlName].errors?.['maxlength'].requiredLength}}
      characters
    </small>
    <small [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
      class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['notFound']">
      Record not found
    </small>
    <small [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
      class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['notCorrect']">
      {{name}} is not valid
    </small>
    <small [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
      class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['mismatch']">
      Passwords do not match
    </small>
    <small [class.hidden]="formGrp.controls[formCtrlName].valid || formGrp.controls[formCtrlName].untouched"
      class="text-red-500 mt-1" *ngIf="formGrp.controls[formCtrlName].errors?.['email']">
      Invalid Email
    </small>
    <small class="text-red-500" *ngIf="formGrp.controls[formCtrlName].errors?.['pattern']">
      It must be a number and must be up to 11 digit
    </small>
  </div>
  