<div class="px-8  py-6 bg-white ">
    <!--Header-->
    <div class="flex  items-center md:gap-4 gap-2 ">
        <div>
            <img [routerLink]="'/organization/transaction'" src="assets/images/icons/home.svg" alt="home-icon">
        </div>
        <div>
            <img src="assets/images/icons/forward_arrow.svg" alt="forward-arrow">
        </div>

        <div>
            <p class="text-primaryBlue font-inter md:text-base text-sm font-medium cursor-pointer">
                Settings
            </p>

        </div>

    </div>
    <div class="px-5">
        <div class="items-center my-2 lg:flex lg:justify-between">
            <h4 class="font-medium font-poppins lg:text-4xl text-xl  text-darkGray my-3">
                Settings
            </h4>
        </div>
    </div>

    <div class="flex gap-6 md:gap-10 pt-3 border-b border-solid border-[#E0E3EA] border-t-0 border-r-0 border-l-0">
        <!-- <div routerLink="/organization/settings" #rlaMember="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
            My profile
        </div> -->

        <div routerLink="/organization/settings" #rlaRoles="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px] active"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="activeLink">
            Organization Profile
        </div>
        <div routerLink="/organization/settings/change-password" #rlaRoles="routerLinkActive"
            class="textLight no-underline text-xs  cursor-pointer sm:text-base font-normal pb-[18px]"
            routerLinkActive="activeLink">
            Change Password
        </div>
    </div>

    <div class="mt-6">
        <router-outlet></router-outlet>
      </div>
</div>
