<div >
    <div class="flex justify-between items-center md:flex-row flex-col mb-3">
        <p class="text-base"> {{data?.supportingDocumentType}} </p>
        <div class="flex items-center gap-4">
            <p class="py-2 px-4 bg-primaryBlue text-white rounded cursor-pointer" (click)="print()">Print</p>
            <button (click)="closeModal()" class="cursor-pointer rounded-md px-2 py-1  text-[#3F4C62] font-bold">
                ✕
            </button>
        </div>
    </div>
    <div class="relative" #printArea>
        <div *ngIf="data.fileUploadVM.contentType === 'application/pdf' " class="w-full h-full">
            <iframe [src]="'data:application/pdf;base64,' + data.fileUploadVM.path | trustedURLPipe " frameborder="0" style="height: 95vh; width: 100%;"></iframe>
        </div>
        <div *ngIf="data.fileUploadVM.contentType === 'application/octet-stream' " class="w-full h-full">
            <iframe [src]="'data:image/png;base64,' + data.fileUploadVM.path | trustedURLPipe " frameborder="0" style="height: 95vh; width: 100%;"></iframe>
        </div>
        <div *ngIf="data.fileUploadVM.contentType === 'image/png' " class="w-full h-full">
            <img [src]="'data:image/png;base64,' + data.fileUploadVM.path | trustedURLPipe " frameborder="0" style="height: 95vh; width: 100%;"/>
        </div>
        <div *ngIf="data.fileUploadVM.contentType === 'image/jpeg' " class="w-full h-full">
            <img [src]="'data:image/png;base64,' + data.fileUploadVM.path | trustedURLPipe " frameborder="0" style="height: 95vh; width: 100%;"/>
        </div>
        <div *ngIf="data.fileUploadVM.contentType === 'image/jpg' " class="w-full h-full">
            <img [src]="'data:image/png;base64,' + data.fileUploadVM.path | trustedURLPipe " frameborder="0" style="height: 95vh; width: 100%;"/>
        </div>
        <!-- <div (click)="download(unit)" class="cursor-pointer  absolute top-2 left-2 bg-black px-[6px] rounded-md">
            <svg class="h-5 w-5 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />  <polyline points="7 11 12 16 17 11" />  <line x1="12" y1="4" x2="12" y2="16" /></svg>
        </div> -->
    </div>
</div>