.alert {
    display: flex;
    width: 453px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem/* 16px */;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
    padding: 1rem/* 16px */;
    border-radius: var(--rounded-box, 1rem);
}
.alert > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
@media (min-width: 768px) {
    .alert {
        flex-direction: row;
        
    }
    .alert > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }
}
@media (min-width: 768px) {
    .alert {
        flex-direction: row;
        
    }
    .alert > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }
}
@media (min-width: 375px) {
    .alert {
        flex-direction: row;
        width: 250px;
        
    }
    .alert > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse));
    }
}
.alert > :where(*) {
    display: flex;
    align-items: center;
    gap: 0.5rem/* 8px */;
}

.alert-success {
    --tw-bg-opacity: 1;
    background-color: #EBF3FF;
    --tw-text-opacity: 1;
    color: #4086EF;
}
