<div class="fixed bg-[#CA024F] items-center bottom-[0px] right-[0px] md:top-[91px] md:h-[200px]  z-[99] md:w-fit w-full border-t-[1px] border-gray">
    <p class="text-white text-bold text-lg text-center md:py-4 py-2">Launch Date: Sept 14th, 2023 </p>
    <div class="py-2 px-8 flex gap-10 text-white ">
        <div>
            <p class="mb-0 text-center md:text-4xl text-3xl font-semibold md:pb-2 pb-1">{{days}}</p>
            <span class="text-lg font-medium" >days</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-4xl text-3xl font-semibold md:pb-2 pb-1">{{hours}}</p>
            <span class="text-lg font-medium" >hours</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-4xl text-3xl font-semibold md:pb-2 pb-1">{{minutes}}</p>
            <span class="text-lg font-medium" >mins</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-4xl text-3xl font-semibold md:pb-2 pb-1">{{seconds}}</p>
            <span class="text-lg font-medium" >seconds</span> 
        </div>
        
    </div>
    <p class="md:text-white text-buttonBlue md:hover:text-buttonBlue text-bold text-lg text-center py-4 mb-2"> <a href="bit.ly/vaclaunch">Click here to register</a>  </p>
</div>
