<div class="fixed bg-[#CA024F] items-center bottom-[0px] right-[0px] md:top-[91px] md:h-[200px]  z-[99] md:w-fit w-full border-t-[1px] border-gray">
    <p class="text-white text-bold text-base text-center md:py-2 py-1">Launch Date: Sept 14th, 2023 </p>
    <div class="py-2 px-8 flex gap-10 text-white ">
        <div>
            <p class="mb-0 text-center md:text-3xl text-2xl font-semibold md:pb-2 pb-1">{{days}}</p>
            <span class="text-lg font-medium" >days</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-3xl text-2xl font-semibold md:pb-2 pb-1">{{hours}}</p>
            <span class="text-lg font-medium" >hours</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-3xl text-2xl font-semibold md:pb-2 pb-1">{{minutes}}</p>
            <span class="text-lg font-medium" >mins</span> 
        </div>
        <div>
            <p class="mb-0 text-center md:text-3xl text-2xl font-semibold md:pb-2 pb-1">{{seconds}}</p>
            <span class="text-lg font-medium" >seconds</span> 
        </div>
        
    </div>
    <p class="px-2 md:text-white mx-auto bg-primaryBlue flex justify-center items-center rounded-md w-fit  text-white  text-bold text-sm text-center py-4 mb-2"> <a href="https://r20.rs6.net/tn.jsp?f=001mNKxTsBkJmizWJiFjdxgO_wKxtsJaOpmbL0Rq_5YPKCtnJlNjj1PpSU568Nt-yIGEZzvQ8SQffIgnn-b0vla_GCE0wbVzVD91eQ7aTwgzTs_kWFdS6tQpuqYghyPKPf1Ci3nb1qCPGrwjZfe5hB9Ug==&c=EjrolIpkuvYOxmjrq-1rTiUKdzNLU757R5h0xHOcS-p-WflZiI4Y0A==&ch=mbY8Q48F8nnLV5xvr3y9SJeI_NtCusdREBf0Kh9fe_H5zqjFdkycHA==">Click here to register for the Virtual Launch</a>  </p>
</div>
