<div class="px-5 md:px-6 mt-6 pb-20">
  <form action="" [formGroup]="appDetailsForm">
    <div
      class=" border border-solid border-[#EAECF0] border-t-2 border-b-0 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
      <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
        <div>
          <h3 class="font-medium text-sm text-[#344054]">Document Type</h3>
          <p class="text-sm text-[#667085]">
            Select the document type
          </p>
        </div>

        <div class="grid gap-5">
          <div class="flex gap-4 px-2 py-3 border border-solid rounded-md cursor-pointer" *ngFor="let unit of processingFeeList"
            [ngClass]="selectedDocumentType === unit.documentTypeName ? 'border-[#BDD5FA] bg-[#F5F9FF] text-[#4086EF]' : 'border-[#EAECF0]'"
            (click)="originalCertificateClicked(unit)">
            <div class="flex gap-4 justify-start items-start w-[92%]">
              <img src="assets/images/graduates/featured-icon.svg" alt="">
              <div>
                <div class=" text-[#344054]">
                  {{unit.documentTypeName | titlecase}}
                </div>

                <p *ngIf="selectedDocumentType === unit.documentTypeName">
                  {{unit.description}}
                </p>


              </div>

            </div>
            <div>
              <input type="radio" name="certificateType" [value]="4" [checked]="selectedDocumentType === unit.documentTypeName"
                class="form-radio h-6 w-6 text-primaryBlue"  />
            </div>


          </div>

        </div>

      </div>
    </div>
    <div
      class=" border border-solid border-[#EAECF0] border-t-2 border-b-0 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
      <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
        <div>
          <h3 class="font-medium text-sm text-[#344054]">Delivery Type</h3>
          <p class="text-sm text-[#667085]">
            Select the delivery type
          </p>
        </div>

        <div class="grid gap-5">
          <div class="flex gap-4 px-2 py-3 border border-solid rounded-md cursor-pointer"(click)="showDocType(option)"  *ngFor="let option of deliveryType"
            [ngClass]="selecedDelMethod === option.deliveryOptionsType ? 'border-[#BDD5FA] bg-[#F5F9FF] text-[#4086EF]' : 'border-[#EAECF0]'"
            (click)="changeDestination(option)">
            <div class="flex gap-4 justify-start items-start w-[92%]">
              <img src="assets/images/graduates/featured-icon.svg" alt="">
              <div>
                <div class=" text-[#344054]">
                  {{option.deliveryOptionsType}} - ₦{{option.fee  | commaDelimiter}}
                </div>
                <p *ngIf="selecedDelMethod === option.deliveryOptionsType">
                  {{option.description}}
                </p>
              </div>

            </div>
            <div>
              <input type="radio" name="deliveryType" [value]="4" [checked]="selecedDelMethod === option.deliveryOptionsType" class="form-radio h-6 w-6 text-primaryBlue"
                 />
            </div>


          </div>


        </div>

      </div>
    </div>
    <ng-container *ngIf="selectedDestination === 1">
      <div
        class=" border border-solid border-[#EAECF0] border-t-0 border-b-2 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
          <div>
            <h3 class="font-medium text-sm text-[#344054]">Destination</h3>
            <p class="text-sm text-[#667085]">
              Please select a delivery type above to fill out your academic details delivery
            </p>
          </div>
          <ng-container >
            <div class="grid gap-5 grid-cols-2" [formGroup]="emailForm">
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Email Address</p>
                <app-input [formGrp]="emailForm" formCtrlName="email" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter email Address" [name]="'Email'"></app-input>
              </div>
      
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Phone Number</p>
      
                  <div class="w-full mt-2">
                    <ngx-intl-tel-input
                    [cssClass]="'phone-number-field h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [phoneValidation]="true"
                    [selectedCountryISO]="CountryISO.Nigeria"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="phoneNo"
                    aria-autocomplete="phoneno"
                    formControlName="phoneNo"
                    type="tel"
                                >
                                </ngx-intl-tel-input>
                                </div>
              </div>
      
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Reason for request</p>
                <app-input [formGrp]="emailForm" formCtrlName="reasonForRequest" [type]="'name'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter reason for Request" [name]="'Reason for request'"></app-input>
              </div>
            </div>
          </ng-container>
        
        </div>
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20 my-3 py-5" *ngIf="selectedDestination === 1 || selectedDestination === 2 || selectedDestination === 3">
          <div>
            <p class="font-medium mb-1 mt-2  text-sm text-failedNormal ">
              Supporting Document <span class="text-danger">*</span>
            </p>
            <p class="font-nunito font-normal text-sm text-failedNormal mb-[6px]">You can upload one or more supporting
              documents such as valid means of ID, student final clearance, notification of results, court affidavit,
              police reports etc.</p>
          </div>
          <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
            <div >
              <p class="text-black text-base">
                White Background Passport<span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file1">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile}} </p>
                    <p *ngIf="!selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleEmailFileUpload($event, 1)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file1" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Valid Means of ID <span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file2">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile2}} </p>
                    <p *ngIf="!selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleEmailFileUpload($event, 2)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file2" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4 gap-3">
        <app-button (buttonClick)="cancel()" [overRideButtonClass]="true"
          customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base leading-6 bg-white border-2 border-solid border-[#EAECF0] text-[#344054]">Cancel</app-button>
          <app-button [overRideButtonClass]="true"
          [disabled]="emailForm.invalid"
          customClass="h-12 px-4 rounded-lg hover:bg-primaryBlue font-inter font-medium text-base text-white leading-6 bg-[#4086EF]"
          (buttonClick)="continueEmailProcess()">Continue</app-button>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedDestination === 2"> 
      <div
        class=" border border-solid border-[#EAECF0] border-t-0 border-b-2 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
          <div>
            <h3 class="font-medium text-sm text-[#344054]">Destination</h3>
            <p class="text-sm text-[#667085]">
              Please select a delivery type above to fill out your academic details delivery
            </p>
          </div>
         
          <ng-container >
            <div class="grid gap-5 grid-cols-2" [formGroup]="fileUploadForm">
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">URL</p>
                <app-input [formGrp]="fileUploadForm" formCtrlName="url" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter URL Address" [name]="'URL Address'"></app-input>
              </div>
              <div>
                <p class="input_label label_asterisk my-1">Enter Login Username</p>
                <app-input [formGrp]="fileUploadForm" formCtrlName="loginUser" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter Login Username" [name]="'Login Username'"></app-input>
              </div>
              <div>
                <p class="input_label label_asterisk my-1">Enter Login Password</p>
                <app-input [formGrp]="fileUploadForm" formCtrlName="loginPassword" [type]="'password'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter Login Password" [name]="'Login Password'"></app-input>
              </div>
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Phone Number</p>
      
                  <div class="w-full mt-2">
                    <ngx-intl-tel-input
                    [cssClass]="'phone-number-field h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [phoneValidation]="true"
                    [selectedCountryISO]="CountryISO.Nigeria"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="phoneNo"
                    aria-autocomplete="phoneno"
                    formControlName="phoneNo"
                    type="tel"
                                >
                                </ngx-intl-tel-input>
                                </div>
              </div>
      
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Reason for request</p>
                <app-input [formGrp]="fileUploadForm" formCtrlName="reasonForRequest" [type]="'name'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter reason for Request" [name]="'Reason for request'"></app-input>
              </div>
            </div>
          </ng-container>
         
        </div>
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20 my-3 py-5" *ngIf="selectedDestination === 1 || selectedDestination === 2 || selectedDestination === 3">
          <div>
            <p class="font-medium mb-1 mt-2  text-sm text-failedNormal ">
              Supporting Document <span class="text-danger">*</span>
            </p>
            <p class="font-nunito font-normal text-sm text-failedNormal mb-[6px]">You can upload one or more supporting
              documents such as valid means of ID, student final clearance, notification of results, court affidavit,
              police reports etc.</p>
          </div>
          <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
            <div >
              <p class="text-black text-base">
                White Background Passport<span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file1">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile}} </p>
                    <p *ngIf="!selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleFileUploadFiles($event, 1)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file1" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Valid Means of ID <span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file2">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile2}} </p>
                    <p *ngIf="!selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleFileUploadFiles($event, 2)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file2" />
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4 gap-3">
        <app-button (buttonClick)="cancel()" [overRideButtonClass]="true"
          customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base leading-6 bg-white border-2 border-solid border-[#EAECF0] text-[#344054]">Cancel</app-button>
          <app-button [overRideButtonClass]="true"
          [disabled]="fileUploadForm.invalid"
          customClass="h-12 px-4 rounded-lg hover:bg-primaryBlue font-inter font-medium text-base text-white leading-6 bg-[#4086EF]"
          (buttonClick)="continueFileUploadProcess()">Continue</app-button>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedDestination === 3">
      <div
        class=" border border-solid border-[#EAECF0] border-t-0 border-b-2 border-r-0 border-l-0 rounded-sm p-4 md:p-6 divide-y divide-[#EAECF0]">
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
          <div>
            <h3 class="font-medium text-sm text-[#344054]">Destination</h3>
            <p class="text-sm text-[#667085]">
              Please select a delivery type above to fill out your academic details delivery
            </p>
          </div>
          
          <ng-container >
            <div class="grid gap-5 grid-cols-2" [formGroup]="hardCopyForm">
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Address</p>
                <app-input [formGrp]="hardCopyForm" formCtrlName="address" [type]="'text'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter Address" [name]="'Address'"></app-input>
              </div>
              <div>
                <p class="input_label label_asterisk my-1">Country</p>
                <ng-select class="custom-ng-dropdown"
                formControlName="country"
                [selectOnTab]="true"
                placeholder="Select Country"
                (change)="onCountryChange($event)"
                >
            <ng-option  *ngFor="let country of countries" [value]="country | json">{{country.name}}</ng-option>
            </ng-select>
              </div>
              <div>
                <p class="input_label label_asterisk my-1">State</p>
                <ng-select class="custom-ng-dropdown"
                formControlName="state"
                [selectOnTab]="true"
                placeholder="Select State"
                (change)="onStateChange($event)"
                >
            <ng-option *ngFor="let state of states" [value]="state | json">{{state.name}}</ng-option>
            </ng-select>
              </div>
              <div class="">
                <p class="input_label label_asterisk my-1">City</p>
                <ng-select class="custom-ng-dropdown"
                formControlName="city"
                [selectOnTab]="true"
                placeholder="Select City"
                (change)="onCityChange($event)"
                >
            <ng-option *ngFor="let lga of cities" [value]="lga | json">{{lga.name}}</ng-option>
            </ng-select>
              </div>
              <div class="">
                <p class="input_label label_asterisk my-1">Postal/Zip Code</p>
                <app-input [formGrp]="hardCopyForm" formCtrlName="zipCode" [type]="'number'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter Phone Number" [name]="'Zip code'"></app-input>
              </div>
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Phone Number</p>
      
                  <div class="w-full mt-2">
                    <ngx-intl-tel-input
                    [cssClass]="'phone-number-field h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [phoneValidation]="true"
                    [selectedCountryISO]="CountryISO.Nigeria"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="phoneNo"
                    aria-autocomplete="phoneno"
                    formControlName="phoneNo"
                    type="tel"
                                >
                                </ngx-intl-tel-input>
                                </div>
              </div>
      
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Reason for request</p>
                <app-input [formGrp]="hardCopyForm" formCtrlName="reasonForRequest" [type]="'name'" [class]="
                    'mt-2 px-4 h-[52px] w-full bg-white border focus:bg-white rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'
                  " placeholder="Enter reason for Request" [name]="'Reason for request'"></app-input>
              </div>
              <div class="col-span-2">
                <p class="input_label label_asterisk my-1">Delivery Method</p>
                <ng-select class="custom-ng-dropdown"
                (change)="getDispatchData($event)"
                [selectOnTab]="true"
                placeholder="Select method"
                >
            <ng-option *ngFor="let type of newDispatchVM" [value]="type">{{type.label}}</ng-option>
            </ng-select>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20 my-3 py-5" *ngIf="selectedDestination === 1 || selectedDestination === 2 || selectedDestination === 3">
          <div>
            <p class="font-medium mb-1 mt-2  text-sm text-failedNormal ">
              Supporting Document <span class="text-danger">*</span>
            </p>
            <p class="font-nunito font-normal text-sm text-failedNormal mb-[6px]">You can upload one or more supporting
              documents such as valid means of ID, student final clearance, notification of results, court affidavit,
              police reports etc.</p>
          </div>
          <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
            <div >
              <p class="text-black text-base">
                White Background Passport<span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file1">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile}} </p>
                    <p *ngIf="!selectedFile" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 1)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file1" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Valid Means of ID <span class="text-danger">*</span>
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file2">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile2}} </p>
                    <p *ngIf="!selectedFile2" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 2)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file2" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Student Final Clearance
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file3">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile3" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile3}} </p>
                    <p *ngIf="!selectedFile3" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 3)"  [accept]="allowedFiled"  class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file3" />
                </div>
              </div>
            </div>
            <div>
              <p class="text-black text-base">
                Notification of Result
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file4">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile4" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile4}} </p>
                    <p *ngIf="!selectedFile4" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 4)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file4" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Court Affidavit
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file5">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile5" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile5}} </p>
                    <p *ngIf="!selectedFile5" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 5)" [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file5" />
                </div>
              </div>
            </div>
            <div >
              <p class="text-black text-base">
                Police Report
              </p>
              <div
                class="mt-2 relative  text-[#6E7191] bg-white  py-3 px-4 w-full rounded-lg border-solid border cursor-pointer  flex justify-center items-center">
                <div>
                  <label for="file6">
                    <img src="assets/images/auth/upload.svg" alt="uploadIcon"
                      class="mx-auto flex justify-center items-center" /> &nbsp; &nbsp;
                    <p *ngIf="selectedFile6" class="b-2 text-sm text-gray-500 dark:text-gray-400"> {{selectedFile6}} </p>
                    <p *ngIf="!selectedFile6" class="b-2 text-sm text-gray-500 dark:text-gray-400 text-center"> <span
                        class="font-medium font-inter text-primaryBlue">Click to Upload</span> or drag and drop <br> PDF
                      or
                      JPG
                      (max. 5mb) </p>
                  </label>
                  <input (change)="handleHardCopyFiles($event, 6)"  [accept]="allowedFiled" class="hidden  file:absolute file:w-full file:h-full"
                    type="file" id="file6" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4 gap-3">
        <app-button (buttonClick)="cancel()" [overRideButtonClass]="true"
          customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base leading-6 bg-white border-2 border-solid border-[#EAECF0] text-[#344054]">Cancel</app-button>
          <app-button [overRideButtonClass]="true"
          [disabled]="hardCopyForm.invalid"
          customClass="h-12 px-4 rounded-lg hover:bg-primaryBlue font-inter font-medium text-base text-white leading-6 bg-[#4086EF]"
          (buttonClick)="continueHardCopyProcess()">Continue</app-button>
      </div>
    </ng-container>
  </form>
</div>