<div class="border-1.5 rounded-t-md" >
    <div class="py-4   px-6 flex justify-between items-center border-b-1.5">
        <div class="flex items-center gap-2">
            <h3 class=" font-sans font-bold text-base text-black">User</h3>
            <span class="px-2 bg-tabBlue font-inter font-medium rounded-full text-primaryBlue">{{totalCount}} users</span>
        </div>
        <app-button
            *ngIf="permissionList.includes('USER_CREATE')"
            [overRideButtonClass]="true"
            routerLink="/institution/users-and-roles/users/create-new-user"
            customClass="px-4 py-[10px] rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Add New users</app-button>
        </div>
    <div  class="py-6 " >
       
        <div class="flex lg:justify-between gap-4 mb-4 px-6">
            <app-search 
            [placeholder]="'Search name or department'"
            (iconSearch)="search($event)"
            [formGrp]="searchForm" formCtrlName="searchPhrase"  
            ></app-search>
        </div>

        <div >
            <div  class="overflow-x-auto mt-8 hide-scrollbar"  >
                <table class="table w-full bg-white">
                    <thead>
                        <tr>
                           
                            <th class="flex gap-1 text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">Name
                            </th>
                            <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]  ">Email</th>
                            <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">Department</th>
                            <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">Role</th>
                            <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">Status
                            </th>
                           
                            <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">Action</th>
                        </tr>
                    </thead>
    
                    <tbody class="bg-white" >
                        <tr *ngFor="let item of userAndRoles | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalCount }; let i = index" class="bg-white ">
                            
                            <td class="bg-white">

                                <p class=" text-base font-inter cursor-pointer font-medium text-lightGray  ">{{item.name || 'N/A'}}</p>

                               
                            </td>
                            <td class="bg-white">
                                <p class="text-base font-normal font-inter  text-lightGray">
                                  {{item.emailAddress || 'N/A'}}
                                </p>
                               
                            </td>
    

                            <td  class="bg-white">

                    
                                <div>
                                    <p class=" text-base cursor-pointer font-inter font-normal text-lightGray ">{{item.department || 'N/A'}}</p>
                                    
                                </div>
                            </td>
                            <td class="bg-white">
                                <div>
                                    <p class=" text-base cursor-pointer font-inter font-normal text-lightGray ">
                                    {{item.roleName || 'N/A'}}</p>
                                   
                                </div>
    
                            </td>
                            <td class="bg-white">
                                <div class="rounded-full text-center w-fit px-2 py-[2px] flex items-center" [ngClass]="
                        item.userStatus === 1
                          ? 'bg-[#ECFDF3]'
                          : item.userStatus === 2
                          ? 'bg-[#F2F4F7]'
                          : ''
                      ">
                      <div class="mr-3 w-2 h-2 rounded-full" [ngClass]="
                          item.userStatus === 1
                            ? 'bg-[#027A48]'
                            : item.userStatus === 2
                            ? 'bg-[#344054]'
                            : ''
                        "></div>
                      <p class="my-0 text-sm cursor-pointer font-inter font-medium w-auto" [ngClass]="
                          item.userStatus === 1
                            ? 'text-[#027A48]'
                            : item.userStatus === 2
                            ? 'text-[#344054]'
                            : ''
                        ">
                        {{ item.userStatus ===1 ? 'Active' : "Inactive" }}
                      </p>
                     
                    </div>
    
                            </td>
                           
    
                           
    
                            <td class="bg-white">
                                <div class="flex  gap-2 items-center" 
                                (click)="seeDetails(item.userId)">
                                    
                                    <p 
                                    class=" text-sm font-inter cursor-pointer font-medium text-primaryBlue "> View </p>
    
                                </div>
    
                            </td>
    
    
    
                        </tr>
                    </tbody>
                </table>
    
    
            </div>

        </div>

        <div class="flex items-center justify-end mt-10 p-6">
            <!-- <p class="text-xs md:text-sm text-[#4E4B66] opacity-50">
              {{ userAndRoles.length }} of
              {{ totalCount }} entries
            </p> -->
            <div class="flex item gap-3">
                <pagination-controls (pageChange)="getPage(pageIndex = $event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>

            </div>
          </div>

        <!-- <div class="flex justify-end items-center gap-4 mt-4">
            <app-button
            
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
            >Cancel</app-button>
            <app-button
            
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Add New users</app-button>
        </div> -->
    </div>
</div>

