<div class="swiper-container">
  <!-- Slides -->
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of carouselItems">
      <div class="h-96 w-full flex items-center" 
      [style.background-image]="'url(' + item.imagePath + ')'" 
      style="background-size: cover; background-position: center;">
        <div class="w-1/2 ml-8">
          <div class="bg-white p-8 rounded-md shadow-md">
            <h3 class="text-2xl font-semibold mb-4">{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <div class="absolute left-0 bottom-0 mb-4 ml-8">
    <div class="swiper-pagination"></div>
    <div class="flex items-center mt-2">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
