<div>
  <div class="carousel w-full">
    <div class="carousel-item w-full" *ngFor="let item of carouselItems" [id]="item.id">
      <div class="justify-center  bg-white rounded-md w-full  !h-[50%]  "  >
        <img [src]="item.image" class="w-full relative" />
        <div class="flex gap-8 pr-6 pl-8 pt-5 items-center absolute bottom-5 left-5">
          <div class="bg-white">
            <div class="">
              <p class="w-64 font-inter font-medium text-base text-darkGray">{{ item.text }}</p>
              <p class="font-inter font-normal text-base text-darkGray mt-3"><span class="font-semibold font-inter text-base text-darkGray">{{ item.author }} - </span>{{ item.position }}</p>
            </div>
            <div class="flex justify-center w-56 py-2 gap-3 items-center mt-3">
              <button class="btn btn-circle align-middle" (click)="prevSlide()"><img src="assets/images/main/previous_arrow.svg" alt="previous_arrow"></button>
              <button *ngFor="let item of carouselItems; let i = index;" [class.btn-active]="i === carouselIndex" (click)="setCarouselIndex(i)" class="btn-dot"></button>
              <button class="btn btn-circle align-middle" (click)="nextSlide()"><img src="assets/images/main/forward_arrow.svg" alt="forward_arrow"></button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
</div>