<div
    class="border border-solid border-[#EAECF0] border-t-2 border-b-2 border-l-0 border-r-0 rounded-sm divide-y divide-[#EAECF0] my-3">
    <div class="grid py-8 xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
        <div>
            <h3 class="font-medium text-sm text-[#344054]">Academic Details Summary</h3>
            <p class="text-sm text-[#667085]">
                Please confirm your academic details
            </p>
        </div>

        <div class="divide-y divide-[#EAECF0]">
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between ">
                <h5 class="font-medium text-[#344054]">Full Name</h5>
                <p class="font-medium text-[#667085]">{{data?.graduteFullName}}</p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">
                <h5 class="font-medium text-[#344054]">
                    Institution Name
                </h5>
                <p class="font-medium text-[#667085]">
                    {{data?.institutionName}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Faculty
                </h5>
                <p class="font-medium text-[#667085]">
                    {{data?.facultyName}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Department
                </h5>
                <p class="font-medium text-[#667085]">
                    {{data?.department}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Degree Type
                </h5>
                <p class="font-medium text-[#667085]">
                    {{data?.degree}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Matric Number
                </h5>
                <p class="font-medium text-[#667085]">
                    {{data?.matriculationNumber}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">
                <h5 class="font-medium text-[#344054]">
                    Year of Entry
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.yearOfEntry}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">
                <h5 class="font-medium text-[#344054]">
                    Year of Graduation
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.yearOfGraduation}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">
                <h5 class="font-medium text-[#344054]">
                    Gender
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.gender}}
                </p>
            </div>

        </div>

    </div>
    <div
        class="border border-solid border-[#EAECF0] border-t-2 border-b-2 border-l-0 border-r-0 my-4 py-8 grid xl:grid-cols-[200px_1fr] 2xl:grid-cols-[300px_1fr] lg:gap-6 2xl:gap-20">
        <div>
            <h3 class="font-medium text-sm text-[#344054]">Application Summary</h3>
            <p class="text-sm text-[#667085]">
                Please confirm your request
            </p>
        </div>

        <div class="divide-y divide-[#EAECF0]">
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Document Type
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.documentType}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Delivery Option
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.deliveryOption}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Destination
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.state}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Phone Number
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.phoneNumber}}
                </p>
            </div>
            <div class="py-4 grid gap-2 md:grid-cols-[auto_auto] justify-between">

                <h5 class="font-medium text-[#344054]">
                    Reason for Request
                </h5>
                <p class="text-sm text-[#667085]">
                    {{data?.reasonForRequest}}
                </p>
            </div>
        </div>

    </div>
    <div class="grid xl:grid-cols-[300px_1fr] 2xl:grid-cols-[400px_1fr] lg:gap-10 2xl:gap-20 pt-8">
        <div>
            <h3 class="font-medium text-sm text-[#344054]">Supporting Document</h3>
            <p class="text-sm text-[#667085]">Please confirm your supporting document</p>
        </div>

        <div class="flex flex-wrap gap-8">
            <div *ngFor="let unit of data?.requestSupportingDocumentVM">
                <div class="relative">
                    <img src="data:image/png;base64,{{unit.fileUploadVM.path}}" class="w-52 h-52 rounded-lg " alt="">
                    <div  class="cursor-pointer  absolute top-2 left-2 bg-black px-[6px] rounded-md">
                        <svg class="h-5 w-5 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />  <polyline points="7 11 12 16 17 11" />  <line x1="12" y1="4" x2="12" y2="16" /></svg>
                    </div>
                    <div  class="cursor-pointer  absolute bottom-2 left-2 bg-lightBlue text-black px-[6px] rounded-md">
                        <small>{{unit.fileUploadVM.name}}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="flex justify-end mt-4 gap-3 py-8">

        <app-button (buttonClick)="cancel()" [overRideButtonClass]="true"
            customClass="w-[80px] h-12 rounded-lg font-inter font-medium text-base leading-6 bg-white border-2 border-solid border-[#EAECF0] text-[#344054]">Cancel</app-button>
        <app-button [overRideButtonClass]="true"
            customClass="h-12 px-4 rounded-lg hover:bg-primaryBlue font-inter font-medium text-base text-white leading-6 bg-[#4086EF]"
            routerLink="/graduate/my-applications/new/make-payment">Continue</app-button>
    </div>
</div>