<div class="md:p-6 px-4" >
  <div class="flex flex-wrap justify-between">
    <div>
        <h4 class="font-poppins font-medium text-3xl headerGray capitalize pb-1">
            Welcome back, 
        </h4>
        <p class="font-nunito font-normal text-base text-lightGray mb-6">
          Last login date: {{ user?.user?.lastLogin }}
        </p>
    </div>
    <!-- <div class="items-center mt-6 mb-3">
        <app-button
        [customClass]="'bg-buttonBlue text-white font-inter font-medium text-base py-3 px-5 rounded-lg w-44'"
        [overRideButtonClass]="true"
        [routerLink]="'/organization/verifications/verify-documents'">
        Start Verification</app-button>
    </div> -->
    <div class="mt-6 mb-3 flex items-center  bg-buttonBlue text-white font-medium font-inter px-5  text-xs h-12  whitespace-nowrap rounded-xl   dropdown dropdown-bottom dropdown-end">

        <p class=" ">
          Start New Verification

          
        </p>
        <div class="cursor-pointer">
            <svg tabindex="0" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 7.5L10 12.5L15 7.5" stroke="#BDD5FA" stroke-width="1.66667" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <ul tabindex="0" class="main mt-3 dropdown-content  menu p-2 shadow bg-white text-black md:z-50 w-[280px]">


              <li>
                <a class="flex items-center text-black " routerLink="/organization/verifications/verify-document-by-code">
                  Verification by Code</a></li>
              <li>
                <a class="flex items-center text-black "
                  routerLink="/organization/verifications/verify-graduate-details"> Verification by Details</a></li>
            </ul>
          </div>
      </div>
  </div>

  <div class="overflow-x-auto hide-scrollbar mb-6">
      <div class="inline-flex rounded-md shadow-sm  bg-white" role="group">
        <button (click)="changeRange(0)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          All Time
        </button>
        <button (click)="changeRange(4)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          12 month
        </button>
        <button (click)="changeRange(3)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          30 days
        </button>
        <button (click)="changeRange(2)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          7 days
        </button>
        <button (click)="changeRange(1)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          24 hours
        </button>
        <button (click)="changeRange(5)" type="button"
          class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 ">
          Custom date
        </button>
      </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-[22px]">
    <div class="bg-successLight rounded-md border">
        <div class="bg-successLight rounded-md">
            <div class="p-6 flex justify-between items-center gap-3">
                <div>
                    <div class="flex mb-3 ">
                        <div class="flex p-1 rounded mr-2 bg-[#12B76A]">
                            <img src="assets/images/main/Number.svg" alt="">
                        </div>
                        <p class="border-b border-dashed font-inter font-semibold lg:text-base text-xs text-failedNormal">Account Balance</p>
                    </div>
                    <p class="text-successNormal font-bold text-3xl font-poppins">₦{{cardInfo?.walletBalance || 0 | commaDelimiter }}</p>
                </div>
                <div>
                    <app-button
                        [buttonText]="'Buy Plan'"
                        [overRideButtonClass]="true"
                        [customClass]="'border rounded border-grayWhite bg-white text-failedNormal font-inter font-medium text-sm h-8'"
                        [routerLink]="'/organization/transactions/payment-plan'">
                    </app-button>
                </div>
            </div> 
        </div>
    </div>
    <div class="rounded-md border">
        <div class="bg-white rounded-md">
            <div class="p-6 items-center gap-3">
                <div>
                    <div class="mb-3 ">
                        <p class="font-inter font-semibold lg:text-base text-xs text-failedNormal">Total Verifications</p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-[#101828] font-bold text-3xl font-poppins">{{cardInfo?.totalVerifications || 0}}</p>
                        <div>
                            <img src="assets/images/icons/chart.svg" alt="chart">
                        </div>
                    </div>
                </div>
                
            </div> 
        </div>
    </div>
  </div>

  
  <app-organization-verification-chart></app-organization-verification-chart>

  <div class="gap-6">
    <div class="col-span-2 border rounded-md p-6">
      <div class="flex  flex-wrap justify-between items-center">
        <h4 class="font-inter text-lg text-darkGray font-medium mb-2">
          Top Verification by Institutions
        </h4>
        <div class="dropdown md:dropdown-end dropdown-left rounded-md shadow-sm mb-6" >
          <label
                      tabindex="0"
                      class="flex justify-between bg-white rounded-[10px] items-center border border-none min-w-[101px] py-[8px] px-4 text-sm cursor-pointer"
                    >
                      <p
                        class="my-0 text-[#0D47A1] font-inter font-medium text-sm"
                      >
                      {{selectedDateType || 'All Time'}}
                      </p>
                     
                    </label>
          <!-- <p  tabindex="0" 
            class="font-inter px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
           
          </p> -->
          <ul
                tabindex="0"
                class="dropdown-content menu p-2 shadow bg-white text-black rounded-box w-52"
              >
                <li><a (click)="changeTopListRange(0, 'All Time') ">All Time</a></li>
                <li><a (click)="changeTopListRange(3, '12 Months') ">12 Month</a></li>
                <li><a (click)="changeTopListRange(3, '30 Days')  ">30 Days</a></li>
                <li><a (click)="changeTopListRange(2, '7 days')  ">7 Days</a></li>
                <li><a (click)="changeTopListRange(1,'24 Hours') ">24 Hours</a></li>
                <li>
                  <a (click)="changeTopListRange(5, 'Custom Period')  "
                    >Custom Period</a
                  >
                </li>
              </ul>
        </div>
      </div>

      <div>
        <canvas id="consentData" #chart> {{chart}} </canvas>

      </div>
    </div>
  </div>
  <div class="mt-6 py-3 rounded-xl bg-white border border-solid border-[#EFF0F6]">
        <div class="mt-3 bg-white">
            <div class="px-7 flex flex-wrap justify-between">
                <h4 class="font-poppins font-medium text-3xl headerGray capitalize pb-1">
                    Recent Verifications
                </h4>
                <app-button
                [overRideButtonClass]="true"
                [customClass]="'font-inter font-medium text-base text-[#344054] border w-24 h-full rounded-md'"
                [routerLink]="'/organization/verifications'">
                    View All
                </app-button>
            </div>
            <!---->

            <!--Table Content-->

            <div>

                <div class="overflow-x-auto mt-8 hide-scrollbar">
                    <table class="table w-full">
                        <thead>
                            <tr>
                                <th class="flex gap-1 text-xs text-lightGray font-medium font-inter bg-tableHeader ">Verification ID
                                    <span><img src="assets/images/icons/arrow_down.svg" alt="" class="mt-0.5"></span>
                                </th>
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader  ">Name</th>
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader  ">Institution</th>
                                <th class="flex gap-1 text-xs text-lightGray font-medium font-inter bg-tableHeader ">Department
                                    <span><img src="assets/images/icons/arrow_down.svg" alt="" class="mt-0.5"></span>
                                </th>
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader ">Reason for Request</th>
                                <th class="text-xs text-lightGray font-medium font-inter bg-tableHeader ">Action</th>
                            </tr>
                        </thead>

                        <tbody class="">
                            <tr *ngFor="let data of verificationHistory" class=" ">
                            
                                
                                <td class="bg-white">
                                    <div class="items-center">
                                        <div>
                                            <div>
                                                <p class="my-0 text-base cursor-pointer font-inter font-medium text-darkGray ">{{data.referrenceNumber}}</p>
                                                <p class="text-xs font-normal font-inter my-0 text-lightGray">
                                                {{data.date | date}}
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <td class="bg-white">
                                    <div class="items-center">
                                        <div>
                                            <div>
                                                <p class="my-0 text-base cursor-pointer font-inter font-medium text-darkGray ">{{data.name}}</p>
                                                <p class="text-xs font-normal font-inter my-0 text-lightGray">
                                                {{data.phoneNumber}}
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                                
                                <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.institutionName}}</p>
                                       
                                    </div>
                                </td>

                                <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.department}}</p>
                                        
                                    </div>
                                </td>
                                <td class="bg-white">
                                    <div>
                                        <p class="my-0 text-base cursor-pointer font-inter font-normal text-lightGray ">{{data.reasonForRequest}}</p>
                                      
                                    </div>

                                </td>
                                

                                <td class="bg-white">
                                    <div class="flex  gap-2 items-center"  (click)="viewVerification(data.id)"
                                    >
                                        
                                        <p 
                                        class="my-0 text-sm font-inter cursor-pointer font-medium text-primaryBlue ">View</p>

                                    </div>

                                </td>




                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>

            <!---->
        </div>
                
    </div>
</div>
