<div class="bg-white py-16">
  <div class="container mx-auto text-center px-4 sm:px-6">
    <h2 class="font-inter font-semibold text-base text-[#1368EC] mb-3">Testimonials</h2>
    <h3 class="font-poppins text-3xl text-headerGray font-semibold mb-8">Our Success Stories</h3>

    <div class="flex flex-col md:flex-row justify-center items-start space-y-8 md:space-y-0 md:space-x-8">
      <div class="w-full md:w-1/2">
      
        <img src="assets/images/main/Videoplayer.svg" alt="video player" class="mx-auto">
        <div class="text-left">
            <p class="mt-4 text-xl font-inter font-semibold text-headerGray ">Oludare Ayeni</p>
            <p class="font-inter font-normal text-base text-testimonialtxt mt-3 text-left">
              Human resource and placement specialist Oludare Ayeni discusses how VAC solution credential evaluations, tools, and resources helped her achieve his professional goals in the Nigeria.
            </p>
        </div>
      </div>

      <div class="w-full md:w-1/2 space-y-8">
        <div class="flex flex-col md:flex-row items-start space-x-0 md:space-x-4">
          <img src="assets/images/main/boy.png" alt="User 1" class="w-30 h-48 rounded-md mx-auto md:mx-0">
          <div>
            <div class="flex items-center">
              <span class="text-yellow-500">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <p class="font-inter font-meduim text-base text-testimonialtxt mt-3 text-left">
              We can’t imagine working without it.“VAC solution evaluation is like saying, ‘Okay, she has the equivalent grade point in the U.S. Love the simplicity of the service and the prompt customer support. 
            </p>
            <p class="font-inter font-medium text-lg text-darkGray text-left mt-3">— Newton Abubukar,</p>
            <p class="font-inter font-normal text-base text-lightGray text-left">VAC Applicant</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row items-start space-x-0 md:space-x-4">
          <img src="assets/images/main/girl.png" alt="User 2" class="w-30 h-48 rounded-md mx-auto md:mx-0">
          <div>
            <div class="flex items-center">
              <span class="text-yellow-500">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <p class="font-inter font-meduim text-base text-testimonialtxt mt-3 text-left">
              We can’t imagine working without it.“VAC solution evaluation is like saying, ‘Okay, she has the equivalent grade point in the U.S. Love the simplicity of the service and the prompt customer support. 
            </p>
            <p class="font-inter font-medium text-lg text-darkGray text-left mt-3">— Tonia Omoefe,</p>
            <p class="font-inter font-normal text-base text-lightGray text-left">VAC Applicant</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="inline-block items-center mt-8">
      <a href="#" class="text-[#1368EC] font-semibold mt-8 flex items-center gap-2">Read More Testimonials
        <span> <img src="assets/images/icons/fwd_arrowBlue.svg" alt="fwd_arrowBlue"></span>
      </a>
     
    </div> -->
  </div>
</div>

