<div>
    <ng-container >
        <div class="">
            <div class="items-center">
                <div class="border-1.5 rounded-lg shadow-md">
                    <div class="flex justify-between items-center py-3 border-b-1.5 px-6 ">
                        <h3 class="font-sans font-medium text-lg text-darkGray">Roles</h3>
                        <app-button
                            routerLink="/institution/users-and-roles/roles-and-permission/create-new-role"
                            [overRideButtonClass]="true" 
                            [customClass]="'w-fit h-10 rounded-lg font-normal text-base text-white leading-6 bg-buttonBlue p-2'">
                            Add New Role
                        </app-button>
                    </div>
                   <div class="p-6 " *ngIf="userRolesAndPermission$ | async as userRoles">
        <div class="w-10/12  ">

            <div class="flex gap-6">
                <div class="w-full md:w-1/4">
                    <div>
                        <p class="font-inter font-medium text-base text-darkGray mb-4">Default Roles</p>
                        <div class="bg-[#F9FAFB] p-[6px]">
                            <div *ngFor="let role of adminRoleList" (click)="changeRole(role)"
                                class="flex items-center gap-2  pl-[14px] py-[10px]">
                                <p class="font-inter cursor-pointer font-medium text-base text-failedNormal">
                                    {{role.name}}</p> <span
                                    class="flex px-[10px] py-[2px] rounded-lg bg-[#F2F4F7] font-medium text-sm font-inter text-failedNormal">{{role.usersCount}}</span>
                            </div>
                        </div>
                        <div class="my-4">
                            <p class="font-inter font-medium text-base text-darkGray mb-4">Custom Roles</p>
                            <div class="bg-[#F9FAFB] p-[6px]">
                                <div *ngFor="let role of customeRoleList" (click)="changeRole(role)"
                                    class="flex items-center gap-2  pl-[14px] py-[10px]">
                                    <p class="font-inter cursor-pointer font-medium text-base text-failedNormal">
                                        {{role.name}}</p> <span
                                        class="flex px-[10px] py-[2px] rounded-lg bg-[#F2F4F7] font-medium text-sm font-inter text-failedNormal">{{role.usersCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full   md:w-9/12">
                    <p class="font-inter font-medium text-base text-darkGray mb-4">{{roleTitle + ' ' + 'Users' }}</p>

                    <div class="mb-10 overflow-x-auto mt-8 hide-scrollbar shadow rounded"
                        >
                        <table class="table w-full">
                            <thead>
                                <tr>

                                    <th class="flex gap-1 text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">
                                        Name
                                    </th>
                                    <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB]  ">Email</th>


                                    <th class="text-xs text-[#667085] font-medium font-inter bg-[#F9FAFB] ">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                <tr *ngFor="let data of selectedRoleList" class=" ">

                                    <td class="bg-white">
                                        <p class=" text-base font-inter cursor-pointer font-medium text-lightGray  ">
                                            {{data.name}}</p>

                                    </td>
                                    <td class="bg-white">
                                        <p class="text-base font-normal font-inter  text-lightGray">
                                            {{data?.emailAddress}}
                                        </p>

                                    </td>


                                    <td class="bg-white">
                                        <div class="flex  gap-2 items-center"  
                                        (click)="seeDetails(data?.userId)">

                                            <p class=" text-sm font-inter cursor-pointer font-medium text-primaryBlue ">
                                                Edit </p>

                                        </div>

                                    </td>




                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <p class="font-inter font-medium text-base text-darkGray mb-5">Permissions</p>
                    <div class="flex flex-wrap  gap-2 " *ngIf="getRolePermission$ | async as permit">
                        <p *ngFor="let data of permit?.permissions"
                            class="w-fit flex  items-center font-inter font-medium text-successNormal bg-successLight rounded-full px-3 py-1">
                            {{data.description | titlecase}}</p>
                    </div>
                </div>

            </div>
        </div>



        <!-- <div class="flex justify-end items-center gap-4 mt-4">
            <app-button
            
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
            >Cancel</app-button>
            <app-button
            
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Add New users</app-button>
        </div> -->
    </div>
                </div>
            </div>
        </div>
    </ng-container>
   
    <ng-container *ngIf="editToggleType">
        <div >
            <div class="border-1.5 rounded-xl shadow-md">
                <h3 class="py-2  border-b-1.5 rounded-t-xl px-6 font-sans font-medium text-lg text-darkGray bg-white">Roles</h3>
                <div class="border-b-1.5">
                    <div class="p-6 grid grid-cols-3 items-center">
                        <p class="font-inter font-medium text-sm text-darkGray">Title</p>
                        <app-input 
                            [formGrp]="editForm" 
                            formCtrlName="departmentName" 
                            [placeholder]="'Enter Title'"
                            [type]="'text'"
                            [class]="' bg-white w-full h-10 mt-2 border border-[#D0D5DD] rounded-md placeholder:text-sm placeholder:font-inter placeholder:font-medium placeholder:text-lightGray placeholder:p-2'">
                        </app-input>
                    </div>

                    <div class="p-6 grid grid-cols-3 items-center">
                        <label for="faculty" class="text-failedNormal font-medium text-sm font-inter mb-[6px]">Permission</label>
                        <select 
                            name="faculty" 
                            id="faculty"
                            class=" select h-[52px] w-full  bg-white border focus:bg-white rounded-lg border-[#D0D5DD] font-inter font-medium text-sm text-lightGray placeholder:font-inter placeholder:leading-6 placeholder:text-sm placeholder:text-lightGray placeholder:font-medium focus:border-[D0D5DD] outline-none">
                            <option value="Select Permission" 
                            [disabled]="true">Select Title</option>
                            <option value="Art" >Art</option>
                            <option value="Science" >Science</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-end mb-6 mr-6 gap-3">
                    <app-button
                        [overRideButtonClass]="true" 
                        [customClass]="'w-20 h-10 rounded-lg font-normal border border-buttonBlue text-buttonBlue leading-6 bg-none p-2 mt-6'">Cancel
                    </app-button>
                    <app-button
                        (buttonClick)="openChangesConfirmed()"
                        [overRideButtonClass]="true" 
                        [customClass]="'w-20 h-10 rounded-lg font-normal text-base text-white leading-6 bg-buttonBlue p-2 mt-6'">Create
                    </app-button>
                </div>
            </div>
            
        </div>
    </ng-container>
</div>



<app-modal [id]="changesConfirmed">
    <div class="toast toast-top">
        <div class="alert alert-success flex justify-between items-center">
            <div class="font-avenir font-meduim lg:text-lg text-base">
                <img src="assets/images/icons/confirmed_icon.svg" alt="close_toast">
                <span class="text-successNormal">Created successfully.</span>
            </div>
            <label [for]="changesConfirmed">
                <img src="assets/images/icons/green_x.svg" alt="close_toast">
            </label>
        </div>
    </div>
</app-modal>