<ng-container *ngIf="apiLoader$ | async as loader">
    <div  *ngIf="loader?.isLoading" class="pointer-events-auto visible opacity-100 h-screen w-full loader-bg position absolute top-0 right-0  left-0 bottom-0 flex justify-center items-center  z-[99999999999999]">
        <div class="wheelUp">
            <img src="assets/images/main/vac-logo-transparent.png" class="ml-6" alt="mint" />
            <!-- <p class="text-center text-6xl font-rubik font-bold"> Loading </p> -->
        </div>
    </div>
</ng-container>
