// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cdal-primary: mat.define-palette(mat.$indigo-palette);
$cdal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cdal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cdal-theme: mat.define-light-theme(
  (
    color: (
      primary: $cdal-primary,
      accent: $cdal-accent,
      warn: $cdal-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cdal-theme);
/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Jost:ital,wght@0,100;0,200;0,400;1,100;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir");
@import "~@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



.ng-select.ng-select-single .ng-select-container,
.ng-select.ng-select-multiple .ng-select-container {
  height: 52px;
}

.ng-select .ng-select-container {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

/* ngpx-pagination styles */

.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  gap: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ngx-pagination a {
  padding: 0 !important;
}

// .ngx-pagination .disabled {
//   padding: 0.1875rem 0.625rem;
//   color: #cacaca;
//   cursor: default;
//   display: none;
// }
.ngx-pagination .pagination-previous a::after {
  // content: 'Prev' !important;
}
// .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after,
// .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-previous.disabled::after {
//   content: '' !important;
//   display: inline-block;
//   margin-left: 0.5rem;
//   display: none !important;
// }
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-previous.disabled::after {
  content: "" !important;
  display: inline-block;
  margin-left: 0.5rem;
  display: none !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: none !important;
}

li.pagination-next,
li.pagination-previous {
  color: #262338 !important;
  border-radius: 4px !important;
  background-color: #fcfcfc !important;
  border: 1.5px solid #0c3146 !important;
  padding: 12px !important;
}

.ngx-pagination .current {
  background: #fcfcfc !important;
  border: 1.5px solid black !important;
}
.ngx-pagination li {
  padding: 12px 18px !important;
  background: #f7f8fb !important;
  // border: 2px solid #EFF0F7  !important;
  color: #6e7191 !important;
  border-radius: 4px !important;
  font-size: 12px;
  cursor: default;
}
/* end of ngx-pagination style */

.otp-input {
  width: 56px !important;
  height: 56px !important;
  border-radius: 4px;
  border: solid 1px #c5c5c5;
  text-align: center;
  font-size: 32px;
  background: white;
  color: black !important;
}


.showMobileNav {
	display: block;
  }


.custom-ng-dropdown {
  height: 52px !important;
}

.ng-select-filter {
  height: 36px !important;
}

.dropdown-menu.show {
  display: block;
  width: 100% !important;
}

.iti {
  width: 100% !important;
  min-width: 18rem;

}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
}


.iti input#country-search-box {
  // padding-left: 6px;
  background: white !important;
  padding: 10px !important;
}

.table th:first-child {
  position: initial !important;
  position: -webkit-sticky initial !important;
  left: 0px;
  z-index: 11;
}


.ng-select {
  z-index: 10 !important;
}


*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(12, 12, 12);
}