<!-- <div class="max-w-screen-2xl mx-auto"> -->
    <div class="">
        <div class="drawer drawer-mobile">
          <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
          <div class="drawer-content flex flex-col bg-[#FCFCFC]">
            <!-- Page content here -->
            <!-- <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label> -->
            <app-header></app-header>
            <main class=" bg-white max-w-screen-xl w-full mx-auto pt-8 p-4 z-50  ">
              <router-outlet></router-outlet>
            </main>
          </div>
          <div class="drawer-side ">
            <label for="my-drawer-2" class="drawer-overlay"></label>
            <div class="w-[20rem] ">
              <app-sidebar [menuLinks]="menuLinks" ></app-sidebar>
        
            </div>
        
        
          </div>
        </div>
      </div>
      