<div class="border-b-1.5 rounded">
    <div class="flex justify-between items-start">
        <div class="py-4 md:px-3 w-3/4" >
            <h3 class="font-inter font-medium text-base text-black">Verification Fee</h3>
            <p class="font-inter font-normal text-base text-lightGray">
               View and set the fee to verify academic documents, to be paid by organizations. Verification fees are subject to approval by NSPM.
            </p>
            <hr class="w-32  h-1 my-4 border-0 bg-[#EAECF0]">
        </div>

        <div class="ml-auto">
            <div class="rounded text-center">
                <div class=" rounded-full text-center" [ngClass]="verificationFeeSetup === false ? 'bg-[#FEF6EE]' : isFeeApproved === true ? 'bg-[#ECFDF3]': 'bg-[#ECFDF3]'">
                     <div class="flex items-center gap-2 w-fit p-2">
                        <div class="ml-3 w-2 h-2 rounded-full " [ngClass]="verificationFeeSetup === false ? 'bg-pendingNormal' : isFeeApproved === true ? 'bg-[#027A48]': 'bg-[#027A48]'"></div>
                        <p class="my-0 text-sm cursor-pointer font-inter font-medium w-auto " [ngClass]="verificationFeeSetup === false ? 'text-pendingNormal' : isFeeApproved === true ? 'text-[#027A48]': 'text-[#027A48]'">
                            {{verificationFeeSetup === false ? 'Awaiting setup' : isFeeApproved === true ? 'Approved': 'Awaiting approval'}}

                        </p>
                     </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="py-3 md:px-3 border-b" *ngFor="let type of vericationList; let parent = index">
        <div class="w-10/12 ">
            <div class="lg:flex gap-6 mb-6">
                <div class="w-full md:w-2/4">
                    <p class=" font-inter font-medium text-base text-failedNormal">
                        {{type.name}} (₦)
                    </p>
                    <p class="font-inter font-normal text-sm text-lightGray">
                    {{type?.description}}
                    </p>
                </div>

                <div class="w-full md:w-2/3  gap-6">
                    <div class="w-full md:w-2/3 flex gap-6">
                        <div>
                            <div class="mt-3 mb-6">
                                <!-- <div class="w-full ">
                                    <label class=" font-inter font-medium text-sm text-failedNormal " for="inline-full-name">
                                        Hard Copy
                                    </label>
                                </div> -->
                                <div class="w-full  mt-2">
                                    <input type="text"
                                    (input)="getFee(type, $event.target, parent)"
                                    [value]="type.fee"
                                    placeholder="N 5000"
                                    [class]="'px-4 h-[52px] w-full bg-transparent text-black border focus:bg-transparent rounded-lg border-[#D0D5DD] placeholder:font-nunito placeholder:leading-6 placeholder:text-base placeholder:text-lightGray placeholder:font-normal focus:border-[D0D5DD] outline-none'" 
                                    [name]="'fee'"
                                    (blur)="addCommas(type, $event.target, parent)">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="flex justify-end items-center gap-4 mt-4 mb-6">
        <!-- <app-button
            [overRideButtonClass]="true"
            customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm   bg-white border text-failedNormal"
            >Cancel
        </app-button> -->
        <app-button
        [disabled]="isFirstFeeApproved === false && isFeeApproved === false"
        (buttonClick)="sendForApproval()"
        [overRideButtonClass]="true"
        customClass="px-3 py-2 rounded-lg font-inter font-medium text-sm text-white  bg-primaryBlue"
            >Send for Approval
        </app-button>
    </div>
</div>