<div class="bg-[#F9FAFB] py-16">
  <div class="container mx-auto grid grid-cols-4 items-center">
    <div class="flex space-x-6">
        <hr class="w-1 h-24 bg-buttonBlue">
        <div>
            <p class="font-inter font-semibold text-5xl text-buttonBlue">
                200+
            </p>
            <p class="font-inter font-medium text-lg mt-6 text-lightGray">Institutions</p>
        </div>
    </div>

    <div class="flex space-x-6">
        <hr class="w-1 h-24 bg-buttonBlue">
        <div>
            <p class="font-inter font-semibold text-5xl text-buttonBlue">
                60k+
            </p>
            <p class="font-inter font-medium text-lg mt-6 text-lightGray">Graduates</p>
        </div>
    </div>


    <div class="flex space-x-6">
        <hr class="w-1 h-24 bg-buttonBlue">
        <div>
            <p class="font-inter font-semibold text-5xl text-buttonBlue">
                150+
            </p>
            <p class="font-inter font-medium text-lg mt-6 text-lightGray">Organizations</p>
        </div>
    </div>

    <div class="flex space-x-6">
        <hr class="w-1 h-24 bg-buttonBlue">
        <div>
            <p class="font-inter font-semibold text-5xl text-buttonBlue">
                100k+
            </p>
            <p class="font-inter font-medium text-lg mt-6 text-lightGray">Requests</p>
        </div>
    </div>
  </div>
</div>

<div class="bg-white py-16">
  <div class="container mx-auto grid grid-cols-6 items-center">
    <div>
        <img src="assets/images/icons/cbn.svg" alt="cbn">
    </div>
    <div>
        <img src="assets/images/icons/salesforce.svg" alt="salesforce">
    </div>
    <div>
        <img src="assets/images/icons/canon.svg" alt="canon">
    </div>
    <div>
        <img src="assets/images/icons/accenture.svg" alt="accenture">
    </div>
    <div class="">
        <img src="assets/images/icons/bpe.svg" alt="bpe" class="items-center">
    </div>
    <div>
        <img src="assets/images/icons/amazon.svg" alt="amazon">
    </div>
  </div>
</div>

