
.custom-translate {
  transform: translateY(-50%);
}

.table:where(:not(.table-zebra)) :where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: #EAECF0 !important;
}



::ng-deep .searchSelect.ng-select.ng-select-single .ng-select-container.ng-has-value::before {
  display: none !important;
}

::ng-deep .searchSelect.ng-select .ng-select-container .ng-value-container {
  padding-left: 45px !important;
}

::ng-deep .searchSelect.ng-select .ng-select-container.ng-has-value .ng-value-container {
  padding-left: 22px !important;
}

::ng-deep .searchSelect.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

thead>tr>th {
  white-space: nowrap;
}

tbody>tr>td {
  @apply py-4 pl-6 border-b border-solid border-[#F7F7FC];
  white-space: nowrap;

}